<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>梦幻比卡丘</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-29.png</string>
		<string>Icon-40.png</string>
		<string>Icon-50.png</string>
		<string>Icon-57.png</string>
		<string>Icon-58.png</string>
		<string>Icon-72.png</string>
		<string>Icon-76.png</string>
		<string>Icon-80.png</string>
		<string>Icon-87.png</string>
		<string>Icon-100.png</string>
		<string>Icon-114.png</string>
		<string>Icon-120.png</string>
		<string>Icon-144.png</string>
		<string>Icon-152.png</string>
		<string>Icon-180.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>梦幻比卡丘</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5cfdad55c16a8ac0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btgame12779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btgame12779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btgame12779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btgame12779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btgame12779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>btgame12779</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bkqmv.qiren</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.reyun.track</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>devTrack</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bkqmv.qiren</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.reyun.track</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>devTrack</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.blacore.bkq.qrcm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.reyun.track</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>devTrack</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bkqmv.qiren</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.reyun.track</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>devTrack</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>alipay</string>
		<string>com.shangminet.x7sy.smsdk</string>
		<string>wechat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/DroidSansFallback.ttf</string>
		<string>fonts/fzlb_5.0.ttf</string>
		<string>fonts/迷你简粗圆.ttf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>com.snowfish.appid</key>
	<string>{E54D4FC8-6B5F9F8A}</string>
	<key>com.snowfish.channel</key>
	<string>SNOWFISH</string>
	<key>com.snowfish.channelid</key>
	<string>{C57B3EF1-72DB3ED6}</string>
	<key>com.snowfish.customer</key>
	<string>SNOWFISH</string>
	<key>com.snowfish.sdk.version</key>
	<string>2</string>
</dict>
</plist>
