<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_absorb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_absorb_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_absorb_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_absorb_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{343,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_absorb_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>absorb.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c66d52d6842ed7bfe9d3df8eaf171279:c4a88d08d9592c584d45d3c9ce28268f:f15b44c8687a909332cbf6db39cda447$</string>
            <key>textureFileName</key>
            <string>absorb.png</string>
        </dict>
    </dict>
</plist>
