<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_ShiTou_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,592},{89,251}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{89,251}}</string>
                <key>sourceSize</key>
                <string>{109,251}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{167,293}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{167,293}}</string>
                <key>sourceSize</key>
                <string>{189,303}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,427},{187,147}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{187,147}}</string>
                <key>sourceSize</key>
                <string>{197,167}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,592},{199,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,137}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1},{213,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,159}}</string>
                <key>sourceSize</key>
                <string>{213,159}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,411},{229,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,179}}</string>
                <key>sourceSize</key>
                <string>{229,179}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,162},{247,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,203}}</string>
                <key>sourceSize</key>
                <string>{247,203}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,592},{263,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,231}}</string>
                <key>sourceSize</key>
                <string>{263,231}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{279,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,255}}</string>
                <key>sourceSize</key>
                <string>{279,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>C2.pvr.ccz</string>
            <key>size</key>
            <string>{512,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158312e38d52d1998d5d2d9db8fcc768:8e4a51ebf4c2597ab8c69fb2b6546e76:dd7e8b534a3f2b6459c381a214d0321d$</string>
            <key>textureFileName</key>
            <string>C2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
