<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_huo_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{168,166}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{168,166}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,166}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{168,166}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{156,154}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{156,154}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,102},{98,116}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{98,116}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,314},{84,96}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{84,96}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,220},{94,92}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,25},{94,92}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,412},{60,82}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,35},{60,82}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{101,98}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,135},{101,98}}</string>
                <key>sourceSize</key>
                <string>{383,376}</string>
            </dict>
            <key>Tx_Jn_111_huo_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,412},{50,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,67},{50,50}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C5.pvr.ccz</string>
            <key>size</key>
            <string>{275,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30a995a31f3fce5f64771c365e0718c3:1/1$</string>
            <key>textureFileName</key>
            <string>C5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
