<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Zi_Dd.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1796},{410,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{410,56}}</string>
                <key>sourceSize</key>
                <string>{412,58}</string>
            </dict>
            <key>Tx_Zi_Jtsnxzzjdyzsqbbdrz.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1353},{480,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{480,111}}</string>
                <key>sourceSize</key>
                <string>{482,113}</string>
            </dict>
            <key>Tx_Zi_Wxnswdsfbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1144},{533,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{533,92}}</string>
                <key>sourceSize</key>
                <string>{535,94}</string>
            </dict>
            <key>Tx_Zi_Wy.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,424},{208,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{208,52}}</string>
                <key>sourceSize</key>
                <string>{210,54}</string>
            </dict>
            <key>Tx_Zi_Xls.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{371,171}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{371,171}}</string>
                <key>sourceSize</key>
                <string>{373,173}</string>
            </dict>
            <key>Tx_Zi_Xlskxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,372},{336,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{336,50}}</string>
                <key>sourceSize</key>
                <string>{338,52}</string>
            </dict>
            <key>Tx_Zi_Ygxngn.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,319},{346,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{346,51}}</string>
                <key>sourceSize</key>
                <string>{348,53}</string>
            </dict>
            <key>Tx_Zi_Ylszzma.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,175},{371,91}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{371,91}}</string>
                <key>sourceSize</key>
                <string>{373,93}</string>
            </dict>
            <key>Tx_Zi_Zbqljcgjhl.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1238},{484,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{484,113}}</string>
                <key>sourceSize</key>
                <string>{486,115}</string>
            </dict>
            <key>Tx_Zi_Zygdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,268},{371,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{371,49}}</string>
                <key>sourceSize</key>
                <string>{373,51}</string>
            </dict>
            <key>bg_choosepet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1140}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
            <key>btn_choosepet_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,424},{68,58}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{68,58}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>notice_jienigui.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1466},{478,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,328}}</string>
                <key>sourceSize</key>
                <string>{478,328}</string>
            </dict>
            <key>notice_miaowa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1474},{478,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,328}}</string>
                <key>sourceSize</key>
                <string>{478,328}</string>
            </dict>
            <key>notice_xiaohuolong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{478,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,328}}</string>
                <key>sourceSize</key>
                <string>{478,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>choosepet.pvr.ccz</string>
            <key>size</key>
            <string>{1019,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84f9f39bc47c6ae29b1dc17e9c170d08$</string>
            <key>textureFileName</key>
            <string>choosepet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
