<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_jiesuan_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{586,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,425}}</string>
                <key>sourceSize</key>
                <string>{586,425}</string>
            </dict>
            <key>bg_jiesuan_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,813},{586,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,295}}</string>
                <key>sourceSize</key>
                <string>{586,295}</string>
            </dict>
            <key>bg_jiesuan_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,516},{586,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,295}}</string>
                <key>sourceSize</key>
                <string>{586,295}</string>
            </dict>
            <key>bg_jiesuan_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,425}}</string>
                <key>sourceSize</key>
                <string>{586,425}</string>
            </dict>
            <key>bg_name_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,138},{140,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,30}}</string>
                <key>sourceSize</key>
                <string>{140,30}</string>
            </dict>
            <key>bg_pop_buchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{582,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,512}}</string>
                <key>sourceSize</key>
                <string>{582,512}</string>
            </dict>
            <key>bg_pop_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1110},{348,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,71}}</string>
                <key>sourceSize</key>
                <string>{348,71}</string>
            </dict>
            <key>bg_pop_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{586,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,295}}</string>
                <key>sourceSize</key>
                <string>{586,295}</string>
            </dict>
            <key>bg_pop_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{582,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,442}}</string>
                <key>sourceSize</key>
                <string>{582,442}</string>
            </dict>
            <key>bg_pop_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,429},{582,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,442}}</string>
                <key>sourceSize</key>
                <string>{582,442}</string>
            </dict>
            <key>bg_pop_wanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,873},{586,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,285}}</string>
                <key>sourceSize</key>
                <string>{586,285}</string>
            </dict>
            <key>btn_duixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,70},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>btn_wanmei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>btn_wanmei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1110},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>btn_wanmei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1110},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>txt_buchong_maoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,200},{141,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,28}}</string>
                <key>sourceSize</key>
                <string>{141,28}</string>
            </dict>
            <key>txt_buchong_tiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,170},{141,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,28}}</string>
                <key>sourceSize</key>
                <string>{141,28}</string>
            </dict>
            <key>txt_buchong_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,230},{104,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,28}}</string>
                <key>sourceSize</key>
                <string>{104,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>commontmzz.pvr.ccz</string>
            <key>size</key>
            <string>{1929,1183}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48839feb284695b10d6c0baa7e7a57cc$</string>
            <key>textureFileName</key>
            <string>commontmzz.pvr.ccz</string>
        </dict>
    </dict>
</plist>
