<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{548,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,12}}</string>
                <key>sourceSize</key>
                <string>{548,12}</string>
            </dict>
            <key>bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1982},{552,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,16}}</string>
                <key>sourceSize</key>
                <string>{552,16}</string>
            </dict>
            <key>bg_bp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1784},{238,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,76}}</string>
                <key>sourceSize</key>
                <string>{240,78}</string>
            </dict>
            <key>bg_bp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1804},{639,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,148}}</string>
                <key>sourceSize</key>
                <string>{639,148}</string>
            </dict>
            <key>bg_bp_10_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1804},{639,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,148}}</string>
                <key>sourceSize</key>
                <string>{639,148}</string>
            </dict>
            <key>bg_bp_10_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1654},{639,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,148}}</string>
                <key>sourceSize</key>
                <string>{639,148}</string>
            </dict>
            <key>bg_bp_10_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{639,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,148}}</string>
                <key>sourceSize</key>
                <string>{639,148}</string>
            </dict>
            <key>bg_bp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1620},{202,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,162}}</string>
                <key>sourceSize</key>
                <string>{202,162}</string>
            </dict>
            <key>bg_bp_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,299},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>bg_bp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1466},{94,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,40}}</string>
                <key>sourceSize</key>
                <string>{96,42}</string>
            </dict>
            <key>bg_bp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{616,174}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{616,174}}</string>
                <key>sourceSize</key>
                <string>{618,176}</string>
            </dict>
            <key>bg_bp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,1087},{206,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,60}}</string>
                <key>sourceSize</key>
                <string>{208,62}</string>
            </dict>
            <key>bg_bp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,896},{469,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{469,59}}</string>
                <key>sourceSize</key>
                <string>{471,63}</string>
            </dict>
            <key>bg_bp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,544},{467,123}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{467,123}}</string>
                <key>sourceSize</key>
                <string>{475,129}</string>
            </dict>
            <key>bg_bp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,352},{568,190}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{568,190}}</string>
                <key>sourceSize</key>
                <string>{570,192}</string>
            </dict>
            <key>bg_bp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1270},{582,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,70}}</string>
                <key>sourceSize</key>
                <string>{582,70}</string>
            </dict>
            <key>bg_bp_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,770}}</string>
                <key>sourceSize</key>
                <string>{642,770}</string>
            </dict>
            <key>bg_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1902},{238,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,38}}</string>
                <key>sourceSize</key>
                <string>{238,38}</string>
            </dict>
            <key>bg_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1211},{642,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,188}}</string>
                <key>sourceSize</key>
                <string>{642,188}</string>
            </dict>
            <key>bg_info_write_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1023},{202,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,32}}</string>
                <key>sourceSize</key>
                <string>{202,32}</string>
            </dict>
            <key>bg_info_write_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1057},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>bg_liaotian_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1982},{54,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,30}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>bg_lv_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1035},{164,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{164,50}}</string>
                <key>sourceSize</key>
                <string>{166,52}</string>
            </dict>
            <key>bg_maintain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1862},{238,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,38}}</string>
                <key>sourceSize</key>
                <string>{238,38}</string>
            </dict>
            <key>bg_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{642,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,241}}</string>
                <key>sourceSize</key>
                <string>{642,241}</string>
            </dict>
            <key>bg_name_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1954},{332,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{332,33}}</string>
                <key>sourceSize</key>
                <string>{334,35}</string>
            </dict>
            <key>bg_name_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,178},{632,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,172}}</string>
                <key>sourceSize</key>
                <string>{632,172}</string>
            </dict>
            <key>bg_name_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,983},{166,50}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{166,50}}</string>
                <key>sourceSize</key>
                <string>{242,52}</string>
            </dict>
            <key>bg_name_write_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1023},{202,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,32}}</string>
                <key>sourceSize</key>
                <string>{202,32}</string>
            </dict>
            <key>bg_name_write_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1694},{76,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,49}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>bg_name_write_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1466},{256,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,72}}</string>
                <key>sourceSize</key>
                <string>{256,72}</string>
            </dict>
            <key>bg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1580},{238,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,38}}</string>
                <key>sourceSize</key>
                <string>{238,38}</string>
            </dict>
            <key>bg_renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1100},{618,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,168}}</string>
                <key>sourceSize</key>
                <string>{618,168}</string>
            </dict>
            <key>bg_role_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{139,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,165}}</string>
                <key>sourceSize</key>
                <string>{139,165}</string>
            </dict>
            <key>bg_shuxing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1342},{562,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,302}}</string>
                <key>sourceSize</key>
                <string>{562,302}</string>
            </dict>
            <key>bg_shuxing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1540},{258,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,38}}</string>
                <key>sourceSize</key>
                <string>{258,38}</string>
            </dict>
            <key>bg_shuxing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{162,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,372}}</string>
                <key>sourceSize</key>
                <string>{162,372}</string>
            </dict>
            <key>bg_small_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,669},{516,98}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{516,98}}</string>
                <key>sourceSize</key>
                <string>{518,100}</string>
            </dict>
            <key>bg_small_line_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1982},{3,3}}</string>
                <key>offset</key>
                <string>{-0.5,60.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{4,124}</string>
            </dict>
            <key>bg_star_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,957},{422,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{422,24}}</string>
                <key>sourceSize</key>
                <string>{424,26}</string>
            </dict>
            <key>bg_tanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,1270},{354,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,194}}</string>
                <key>sourceSize</key>
                <string>{354,194}</string>
            </dict>
            <key>bg_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,983},{188,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,38}}</string>
                <key>sourceSize</key>
                <string>{188,38}</string>
            </dict>
            <key>bg_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{642,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,144}}</string>
                <key>sourceSize</key>
                <string>{642,144}</string>
            </dict>
            <key>bt_bp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,769},{578,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{578,64}}</string>
                <key>sourceSize</key>
                <string>{580,66}</string>
            </dict>
            <key>bt_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{618,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{618,26}}</string>
                <key>sourceSize</key>
                <string>{620,28}</string>
            </dict>
            <key>bt_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,835},{534,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,59}}</string>
                <key>sourceSize</key>
                <string>{534,59}</string>
            </dict>
            <key>eff_guangyun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,957},{128,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>eff_jiazai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,738},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>eff_jiazai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,376},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>eff_pm_guangyun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,169},{128,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>font_race_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1618},{108,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,74}}</string>
                <key>sourceSize</key>
                <string>{110,76}</string>
            </dict>
            <key>font_race_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,1508},{112,74}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{112,74}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>item_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{642,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,192}}</string>
                <key>sourceSize</key>
                <string>{642,192}</string>
            </dict>
            <key>mainbtn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{642,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,105}}</string>
                <key>sourceSize</key>
                <string>{642,105}</string>
            </dict>
            <key>titleBg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1954},{610,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,58}}</string>
                <key>sourceSize</key>
                <string>{610,58}</string>
            </dict>
            <key>txt_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,1745},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>txt_jichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,1584},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_ui.pvr.ccz</string>
            <key>size</key>
            <string>{1600,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b7e80d8113adcc86452945ee54c1f06$</string>
            <key>textureFileName</key>
            <string>common_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
