<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_huo_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,70},{52,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,56},{52,68}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,70},{52,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,56},{52,68}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{76,88}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,41},{76,88}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,92},{74,84}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,43},{74,84}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{60,66}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{60,66}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{66,66}}</string>
                <key>offset</key>
                <string>{-14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,42},{66,66}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,70},{44,58}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,49},{44,58}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,140},{34,32}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,75},{34,32}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
            <key>Tx_Jn_000_huo_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,184}}</string>
                <key>sourceSize</key>
                <string>{188,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E1.pvr.ccz</string>
            <key>size</key>
            <string>{424,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65dca2a3b39c8bc246d8232e46e9352f:1/1$</string>
            <key>textureFileName</key>
            <string>E1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
