<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,522},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,262},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,522},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,262},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,522},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,262},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>fx_loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_loading.pvr.ccz</string>
            <key>size</key>
            <string>{1042,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dea067c684c6b5597fa3d7f243c87c69$</string>
            <key>textureFileName</key>
            <string>fx_loading.pvr.ccz</string>
        </dict>
    </dict>
</plist>
