<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_my_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,772},{626,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,115}}</string>
                <key>sourceSize</key>
                <string>{626,115}</string>
            </dict>
            <key>bg_pop_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,568}}</string>
                <key>sourceSize</key>
                <string>{602,568}</string>
            </dict>
            <key>btn_buy_pvp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,966},{120,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,53}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>btn_frd_pvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,952},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>icon_rank_starlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,260},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_victory_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,765},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>icon_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,368},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,99}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>list_violet_pattern.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,124},{246,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,113}}</string>
                <key>sourceSize</key>
                <string>{246,113}</string>
            </dict>
            <key>title_pvp_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{409,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,126}}</string>
                <key>sourceSize</key>
                <string>{409,126}</string>
            </dict>
            <key>tmzz_bg_black_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,469},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>tmzz_bg_pattern_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,267},{642,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,122}}</string>
                <key>sourceSize</key>
                <string>{642,122}</string>
            </dict>
            <key>tmzz_bg_pvp_list_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,761},{642,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,120}}</string>
                <key>sourceSize</key>
                <string>{642,120}</string>
            </dict>
            <key>tmzz_bg_pvp_list_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,391},{642,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,120}}</string>
                <key>sourceSize</key>
                <string>{642,120}</string>
            </dict>
            <key>tmzz_bg_pvp_store_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,513},{162,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,250}}</string>
                <key>sourceSize</key>
                <string>{162,250}</string>
            </dict>
            <key>tmzz_bg_title_pvp_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,513},{518,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,257}}</string>
                <key>sourceSize</key>
                <string>{518,257}</string>
            </dict>
            <key>tmzz_btn_buy_pvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,952},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>tmzz_btn_challenge_pvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,906},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>tmzz_btn_playback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,889},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>tmzz_btn_refresh_pvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,889},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>tmzz_fade_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{642,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,187}}</string>
                <key>sourceSize</key>
                <string>{642,187}</string>
            </dict>
            <key>tmzz_icon_arena_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,2},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>tmzz_icon_lose_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,879},{43,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,25}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>tmzz_icon_victory_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,879},{43,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,25}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>tmzz_pvp_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,883},{162,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>tmzz_tag_pvp_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>tmzz_tag_pvp_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,109},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>tmzz_tag_pvp_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,171},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>tmzz_tag_pvp_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,826},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>tmzz_text_bubble_pvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,889},{290,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,75}}</string>
                <key>sourceSize</key>
                <string>{290,75}</string>
            </dict>
            <key>tmzz_title_pvp_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{208,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,120}}</string>
                <key>sourceSize</key>
                <string>{208,120}</string>
            </dict>
            <key>tmzz_title_pvp_store.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{459,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,263}}</string>
                <key>sourceSize</key>
                <string>{459,263}</string>
            </dict>
            <key>tmzz_txt_my_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,66},{83,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,20}}</string>
                <key>sourceSize</key>
                <string>{83,20}</string>
            </dict>
            <key>tmzz_txt_pvp_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,513},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>tmzz_txt_pvp_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,239},{105,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,20}}</string>
                <key>sourceSize</key>
                <string>{105,20}</string>
            </dict>
            <key>tmzz_txt_pvp_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,883},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>tmzz_txt_pvp_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,228},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>tmzz_txt_pvp_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,88},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>tmzz_txt_pvp_times.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,969},{100,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,20}}</string>
                <key>sourceSize</key>
                <string>{100,20}</string>
            </dict>
            <key>tmzz_txt_refresh_pvpstore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,239},{105,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,19}}</string>
                <key>sourceSize</key>
                <string>{105,19}</string>
            </dict>
            <key>tmzz_txt_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,851},{50,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,19}}</string>
                <key>sourceSize</key>
                <string>{50,19}</string>
            </dict>
            <key>txt_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,826},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,23}</string>
            </dict>
            <key>txt_rank_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,534},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zhanli_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,239},{50,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,19}}</string>
                <key>sourceSize</key>
                <string>{50,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jingjichang.pvr.ccz</string>
            <key>size</key>
            <string>{1375,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85256d48b89a15804add56dd89daa950$</string>
            <key>textureFileName</key>
            <string>jingjichang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
