<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_feng_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{70,202}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{70,202}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,162},{72,194}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{72,194}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,206},{116,200}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{116,200}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,202},{128,198}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{128,198}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{114,196}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{114,196}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,202},{134,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{134,196}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{128,198}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{128,198}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{130,202}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{130,202}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,198}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{144,198}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{114,158}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{114,158}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
            <key>Tx_Jn_111_feng_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,400},{92,72}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,112},{92,72}}</string>
                <key>sourceSize</key>
                <string>{144,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L1.pvr.ccz</string>
            <key>size</key>
            <string>{592,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43688044e22f4d91ad9c2c1051e1552f:1/1$</string>
            <key>textureFileName</key>
            <string>L1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
