<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_feng_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,133},{265,129}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
            <key>Tx_Jn_111_feng_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{267,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{267,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
            <key>Tx_Jn_111_feng_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,133},{261,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{261,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
            <key>Tx_Jn_111_feng_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{265,129}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
            <key>Tx_Jn_111_feng_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{267,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
            <key>Tx_Jn_111_feng_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{261,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{261,129}}</string>
                <key>sourceSize</key>
                <string>{271,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L11.pvr.ccz</string>
            <key>size</key>
            <string>{801,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428abfd26e439c4031f54c6db9c97b1a:1/1$</string>
            <key>textureFileName</key>
            <string>L11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
