<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_du_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{170,205}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,77},{170,205}}</string>
                <key>sourceSize</key>
                <string>{370,375}</string>
            </dict>
            <key>Tx_Jn_111_du_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,178},{125,128}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{125,128}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,485},{137,136}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{137,136}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,322},{159,152}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{159,152}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,485},{165,146}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{165,146}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,305}}</string>
                <key>offset</key>
                <string>{24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,27},{316,305}}</string>
                <key>sourceSize</key>
                <string>{370,375}</string>
            </dict>
            <key>Tx_Jn_111_du_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,322},{155,158}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{155,158}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,174},{157,166}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{157,166}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,308},{163,174}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{163,174}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,309},{175,174}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{175,174}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{161,160}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{161,160}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{155,170}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{155,170}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{165,174}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{165,174}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,342},{149,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{149,160}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{155,168}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{155,168}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,164},{159,156}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{159,156}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,482},{163,150}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{163,150}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
            <key>Tx_Jn_111_du_2_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,476},{155,152}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{155,152}}</string>
                <key>sourceSize</key>
                <string>{185,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L2.pvr.ccz</string>
            <key>size</key>
            <string>{993,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c9185dcbe0ae03e576e813f363e9c99:1/1$</string>
            <key>textureFileName</key>
            <string>L2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
