<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_bing_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,188},{119,158}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{119,158}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,198},{125,150}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,27},{125,150}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{195,150}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{195,150}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{181,170}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{181,170}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{197,194}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{197,194}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,198}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,198}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,174},{145,180}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{145,180}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{139,182}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{139,182}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{165,184}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{165,184}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,188},{125,166}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{125,166}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
            <key>Tx_Jn_111_bing_2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,202},{125,150}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,25},{125,150}}</string>
                <key>sourceSize</key>
                <string>{221,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L4.pvr.ccz</string>
            <key>size</key>
            <string>{907,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9966c996442a82a7d65fdf949c73fc20:1/1$</string>
            <key>textureFileName</key>
            <string>L4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
