<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_xuanqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,282},{582,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,100}}</string>
                <key>sourceSize</key>
                <string>{582,100}</string>
            </dict>
            <key>bg_xuanqu_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{282,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,50}}</string>
                <key>sourceSize</key>
                <string>{282,50}</string>
            </dict>
            <key>black_fade_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,462}}</string>
                <key>sourceSize</key>
                <string>{642,462}</string>
            </dict>
            <key>btn_choosesever_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,280},{149,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,78}}</string>
                <key>sourceSize</key>
                <string>{149,78}</string>
            </dict>
            <key>btn_choosesever_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,185},{149,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,93}}</string>
                <key>sourceSize</key>
                <string>{149,93}</string>
            </dict>
            <key>btn_man_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,185},{154,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,100}}</string>
                <key>sourceSize</key>
                <string>{154,100}</string>
            </dict>
            <key>btn_man_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,83},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>btn_man_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,224},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_woman_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,83},{154,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,100}}</string>
                <key>sourceSize</key>
                <string>{154,100}</string>
            </dict>
            <key>btn_woman_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,287},{150,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>btn_woman_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,140},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>font_stat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,430},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>font_stat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,430},{39,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>font_stat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,54},{37,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{37,24}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>font_stat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,94},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>font_stat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,48},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>font_stat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>font_title_creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,413},{127,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,40}}</string>
                <key>sourceSize</key>
                <string>{127,40}</string>
            </dict>
            <key>game_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,360},{171,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,68}}</string>
                <key>sourceSize</key>
                <string>{171,68}</string>
            </dict>
            <key>tmzz_bg_pop_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{582,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,278}}</string>
                <key>sourceSize</key>
                <string>{582,278}</string>
            </dict>
            <key>tmzz_btn_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,389},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_name_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,430},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>tmzz_name_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,430},{47,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{47,25}</string>
            </dict>
            <key>tmzz_name_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,308},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>tmzz_txt_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,384},{110,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,20}}</string>
                <key>sourceSize</key>
                <string>{110,20}</string>
            </dict>
            <key>tmzz_txt_tips_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,413},{235,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,20}}</string>
                <key>sourceSize</key>
                <string>{235,20}</string>
            </dict>
            <key>tmzz_yindao_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,384},{195,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,27}}</string>
                <key>sourceSize</key>
                <string>{195,27}</string>
            </dict>
            <key>tmzz_yindao_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,54},{243,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,27}}</string>
                <key>sourceSize</key>
                <string>{243,27}</string>
            </dict>
            <key>tmzz_yindao_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,384},{267,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,27}}</string>
                <key>sourceSize</key>
                <string>{267,27}</string>
            </dict>
            <key>tmzz_yindao_txt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,413},{145,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,27}}</string>
                <key>sourceSize</key>
                <string>{145,27}</string>
            </dict>
            <key>tmzz_yindao_txt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,435},{218,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,27}}</string>
                <key>sourceSize</key>
                <string>{218,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.pvr.ccz</string>
            <key>size</key>
            <string>{1627,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b6d129a6fb3cca044f2595f5601afdd$</string>
            <key>textureFileName</key>
            <string>login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
