<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,563},{580,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,138}}</string>
                <key>sourceSize</key>
                <string>{580,138}</string>
            </dict>
            <key>bg_pop_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{610,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,559}}</string>
                <key>sourceSize</key>
                <string>{610,559}</string>
            </dict>
            <key>btn_mail_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,805},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>icon_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,703},{95,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,100}}</string>
                <key>sourceSize</key>
                <string>{95,100}</string>
            </dict>
            <key>mail_footer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{642,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,97}}</string>
                <key>sourceSize</key>
                <string>{642,97}</string>
            </dict>
            <key>mail_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{642,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,205}}</string>
                <key>sourceSize</key>
                <string>{642,205}</string>
            </dict>
            <key>pattern_bg_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,642}}</string>
                <key>sourceSize</key>
                <string>{642,642}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail.pvr.ccz</string>
            <key>size</key>
            <string>{1258,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92d9e8b3728bb69b2d4bed9bd6106e4a$</string>
            <key>textureFileName</key>
            <string>mail.pvr.ccz</string>
        </dict>
    </dict>
</plist>
