<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_liaotian_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,133},{147,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,75}}</string>
                <key>sourceSize</key>
                <string>{147,75}</string>
            </dict>
            <key>bg_liaotian_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,56},{147,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,75}}</string>
                <key>sourceSize</key>
                <string>{147,75}</string>
            </dict>
            <key>bg_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{299,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,199}}</string>
                <key>sourceSize</key>
                <string>{299,199}</string>
            </dict>
            <key>bg_shuxing_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,199}}</string>
                <key>sourceSize</key>
                <string>{299,199}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{291,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,52}}</string>
                <key>sourceSize</key>
                <string>{291,52}</string>
            </dict>
            <key>font_role_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,143},{408,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,76}}</string>
                <key>sourceSize</key>
                <string>{408,76}</string>
            </dict>
            <key>font_title_lvup.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,143},{408,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,76}}</string>
                <key>sourceSize</key>
                <string>{408,76}</string>
            </dict>
            <key>font_title_wanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{408,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,139}}</string>
                <key>sourceSize</key>
                <string>{408,139}</string>
            </dict>
            <key>title_shouchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{403,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,139}}</string>
                <key>sourceSize</key>
                <string>{403,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ofenused.pvr.ccz</string>
            <key>size</key>
            <string>{1712,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:495fa36fd8ae695917ef790715bc546b$</string>
            <key>textureFileName</key>
            <string>ofenused.pvr.ccz</string>
        </dict>
    </dict>
</plist>
