<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_bing_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,108},{107,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{107,44}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{143,66}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{143,66}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{119,56}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,19},{119,56}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{125,54}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{125,54}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,60},{111,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{111,46}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,58},{111,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{111,46}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,106},{109,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{109,48}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{199,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,92}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
            <key>Tx_Jn_000_bing_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,108},{107,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{107,46}}</string>
                <key>sourceSize</key>
                <string>{199,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S1.pvr.ccz</string>
            <key>size</key>
            <string>{476,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a9ba331db726fb8cf0601a0af90b84:1/1$</string>
            <key>textureFileName</key>
            <string>S1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
