<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bp_shouchong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{618,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,190}}</string>
                <key>sourceSize</key>
                <string>{618,190}</string>
            </dict>
            <key>pay_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{151,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,55}}</string>
                <key>sourceSize</key>
                <string>{151,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shops.pvr.ccz</string>
            <key>size</key>
            <string>{775,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baf11b9361d9fb9d023420949e5515c3$</string>
            <key>textureFileName</key>
            <string>shops.pvr.ccz</string>
        </dict>
    </dict>
</plist>
