<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bing_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{233,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,201}}</string>
                <key>sourceSize</key>
                <string>{233,201}</string>
            </dict>
            <key>skill_big_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{813,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{813,140}}</string>
                <key>sourceSize</key>
                <string>{813,140}</string>
            </dict>
            <key>skill_big_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,144},{270,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,129}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>skill_big_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,144},{270,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,97}}</string>
                <key>sourceSize</key>
                <string>{270,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_1.pvr.ccz</string>
            <key>size</key>
            <string>{817,347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b192b5c7a30d6ffe50a941f5ae6d39:1/1$</string>
            <key>textureFileName</key>
            <string>skill_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
