<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_tower_sweep_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,200},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>btn_tower_sweep_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,134},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>btn_tower_tiaozhan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,68},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>btn_tower_tiaozhan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{162,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,64}}</string>
                <key>sourceSize</key>
                <string>{162,64}</string>
            </dict>
            <key>tower_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{650,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{650,368}}</string>
                <key>sourceSize</key>
                <string>{650,368}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower.pvr.ccz</string>
            <key>size</key>
            <string>{818,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06cc9863dcf061c320bbf93f285ea8e1$</string>
            <key>textureFileName</key>
            <string>tower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
