<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_vip_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,982}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{620,982}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
            <key>bg_vip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{558,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,188}}</string>
                <key>sourceSize</key>
                <string>{558,188}</string>
            </dict>
            <key>bg_vip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,192},{254,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,96}}</string>
                <key>sourceSize</key>
                <string>{254,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.pvr.ccz</string>
            <key>size</key>
            <string>{1184,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d63b690b9b9acedbc8752a999a3af85$</string>
            <key>textureFileName</key>
            <string>vip.pvr.ccz</string>
        </dict>
    </dict>
</plist>
