<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_worldewar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,526}}</string>
                <key>sourceSize</key>
                <string>{344,526}</string>
            </dict>
            <key>bg_worldewar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{282,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,59}}</string>
                <key>sourceSize</key>
                <string>{282,59}</string>
            </dict>
            <key>bg_worldewar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{294,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,256}}</string>
                <key>sourceSize</key>
                <string>{294,256}</string>
            </dict>
            <key>bg_worldewar_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{282,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,212}}</string>
                <key>sourceSize</key>
                <string>{282,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldwar.pvr.ccz</string>
            <key>size</key>
            <string>{348,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05a727eae53906f7ee8c8c704810aaac$</string>
            <key>textureFileName</key>
            <string>worldwar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
