<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_bg_change_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,278}}</string>
                <key>sourceSize</key>
                <string>{582,278}</string>
            </dict>
            <key>tmzz_bg_redeem_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{422,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,56}}</string>
                <key>sourceSize</key>
                <string>{422,56}</string>
            </dict>
            <key>tmzz_btn_change_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,288},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>tmzz_btn_default_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>tmzz_btn_delete_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,400},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>tmzz_btn_get_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,364},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>tmzz_btn_logout.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,328},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>tmzz_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,408},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>tmzz_btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,288},{86,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,38}}</string>
                <key>sourceSize</key>
                <string>{86,38}</string>
            </dict>
            <key>tmzz_dash_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{542,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,4}}</string>
                <key>sourceSize</key>
                <string>{542,4}</string>
            </dict>
            <key>tmzz_dash_line_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{422,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,4}}</string>
                <key>sourceSize</key>
                <string>{422,4}</string>
            </dict>
            <key>tmzz_title_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,408},{121,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,36}}</string>
                <key>sourceSize</key>
                <string>{121,36}</string>
            </dict>
            <key>tmzz_txt_vip_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,311},{61,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,18}}</string>
                <key>sourceSize</key>
                <string>{61,18}</string>
            </dict>
            <key>tmzz_txtbox_change_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{426,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,54}}</string>
                <key>sourceSize</key>
                <string>{426,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>youxishezhi.pvr.ccz</string>
            <key>size</key>
            <string>{586,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2962d4ba2c00fe8951ad0ed930bf916f$</string>
            <key>textureFileName</key>
            <string>youxishezhi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
