<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_getmoney_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{222,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,124}}</string>
                <key>sourceSize</key>
                <string>{222,124}</string>
            </dict>
            <key>btn_getmoney_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{222,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,124}}</string>
                <key>sourceSize</key>
                <string>{222,124}</string>
            </dict>
            <key>btn_getmoney_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{222,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,124}}</string>
                <key>sourceSize</key>
                <string>{222,124}</string>
            </dict>
            <key>zhaocai.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1140}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaocai.pvr.ccz</string>
            <key>size</key>
            <string>{646,1270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5b279ab98a86069e8ae5b6b3ede21d5$</string>
            <key>textureFileName</key>
            <string>zhaocai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
