<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_talk_skip_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1450},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>tmzz_banner_zhaohuan_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{642,742}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,742}}</string>
                <key>sourceSize</key>
                <string>{642,742}</string>
            </dict>
            <key>tmzz_bg_bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1920},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>tmzz_bg_bubble_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>tmzz_bg_bubble_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1616},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>tmzz_bg_chouka_equ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{626,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,567}}</string>
                <key>sourceSize</key>
                <string>{626,567}</string>
            </dict>
            <key>tmzz_black_fade_chouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,746},{642,588}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,588}}</string>
                <key>sourceSize</key>
                <string>{642,588}</string>
            </dict>
            <key>tmzz_btn_chouka_10_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1534},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>tmzz_btn_chouka_equ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{330,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,88}}</string>
                <key>sourceSize</key>
                <string>{330,88}</string>
            </dict>
            <key>tmzz_btn_chouka_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1452},{168,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,80}}</string>
                <key>sourceSize</key>
                <string>{168,80}</string>
            </dict>
            <key>tmzz_btn_chouka_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1756},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_btn_chouka_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1824},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1756},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_btn_zhaohuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{280,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,88}}</string>
                <key>sourceSize</key>
                <string>{280,88}</string>
            </dict>
            <key>tmzz_btn_zhaohuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1666},{290,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,88}}</string>
                <key>sourceSize</key>
                <string>{290,88}</string>
            </dict>
            <key>tmzz_efx_bg_yellow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1336},{543,623}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,623}}</string>
                <key>sourceSize</key>
                <string>{543,623}</string>
            </dict>
            <key>tmzz_efx_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{443,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,212}}</string>
                <key>sourceSize</key>
                <string>{443,212}</string>
            </dict>
            <key>tmzz_efx_rgb_flare_arc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,858}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,858}}</string>
                <key>sourceSize</key>
                <string>{642,858}</string>
            </dict>
            <key>tmzz_icon_slot_chouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1336},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>tmzz_line_zhaohuan_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{642,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,19}}</string>
                <key>sourceSize</key>
                <string>{642,19}</string>
            </dict>
            <key>tmzz_tag_zhaohuan_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1846},{149,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,72}}</string>
                <key>sourceSize</key>
                <string>{149,72}</string>
            </dict>
            <key>tmzz_tag_zhaohuan_equ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{152,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,76}}</string>
                <key>sourceSize</key>
                <string>{152,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaohuan.pvr.ccz</string>
            <key>size</key>
            <string>{1290,1977}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e71753046a9e33548d602871284c75a9$</string>
            <key>textureFileName</key>
            <string>zhaohuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
