<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_act_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{576,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,148}}</string>
                <key>sourceSize</key>
                <string>{576,148}</string>
            </dict>
            <key>bg_act_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,890},{102,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,50}}</string>
                <key>sourceSize</key>
                <string>{102,50}</string>
            </dict>
            <key>btn_act_exchange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{130,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,49}}</string>
                <key>sourceSize</key>
                <string>{130,49}</string>
            </dict>
            <key>btn_act_exchange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,890},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,48}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>btn_act_get_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,890},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,48}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>btn_act_get_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,890},{130,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,48}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>btn_active_chongzhi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,872},{63,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{63,69}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>btn_event_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,370},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,186},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,740},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,556},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,372},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,556},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,372},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>btn_event_festival.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,740},{153,130}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{153,130}}</string>
                <key>sourceSize</key>
                <string>{155,132}</string>
            </dict>
            <key>btn_event_valentine.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,554},{158,154}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,154}}</string>
                <key>sourceSize</key>
                <string>{160,156}</string>
            </dict>
            <key>fe_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,740},{203,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{203,144}}</string>
                <key>sourceSize</key>
                <string>{205,146}</string>
            </dict>
            <key>fe_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,237},{103,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,125}}</string>
                <key>sourceSize</key>
                <string>{105,127}</string>
            </dict>
            <key>fe_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,110},{103,125}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{103,125}}</string>
                <key>sourceSize</key>
                <string>{105,127}</string>
            </dict>
            <key>fe_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{157,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{157,106}}</string>
                <key>sourceSize</key>
                <string>{159,108}</string>
            </dict>
            <key>fe_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,886},{193,85}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{193,85}}</string>
                <key>sourceSize</key>
                <string>{195,87}</string>
            </dict>
            <key>fe_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{576,367}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{576,367}}</string>
                <key>sourceSize</key>
                <string>{578,369}</string>
            </dict>
            <key>fe_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{578,367}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{578,367}}</string>
                <key>sourceSize</key>
                <string>{580,369}</string>
            </dict>
            <key>fe_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{199,368}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{199,368}}</string>
                <key>sourceSize</key>
                <string>{201,370}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activities.pvr.ccz</string>
            <key>size</key>
            <string>{1132,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea7604bb75b0898d3910e303eb06d55$</string>
            <key>textureFileName</key>
            <string>activities.pvr.ccz</string>
        </dict>
    </dict>
</plist>
