<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_hp_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{642,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,107}}</string>
                <key>sourceSize</key>
                <string>{642,107}</string>
            </dict>
            <key>battle_skill_slot_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1265},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>battle_skill_slot_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,865},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>bg_pvp_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,865},{536,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,511}}</string>
                <key>sourceSize</key>
                <string>{536,511}</string>
            </dict>
            <key>bg_pvp_victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{536,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,511}}</string>
                <key>sourceSize</key>
                <string>{536,511}</string>
            </dict>
            <key>bg_rage_skill_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1323},{460,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,130}}</string>
                <key>sourceSize</key>
                <string>{460,130}</string>
            </dict>
            <key>btn_back_dungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,191},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_battle_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1378},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_home_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,191},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_page_dungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,1378},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_pvp_duixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1261},{235,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,60}}</string>
                <key>sourceSize</key>
                <string>{235,60}</string>
            </dict>
            <key>btn_round_side_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1315},{120,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,121}}</string>
                <key>sourceSize</key>
                <string>{120,121}</string>
            </dict>
            <key>btn_speed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1378},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>btn_speed_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1239},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>btn_try_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1171},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>dungeon001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1378},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>exp_bar_result_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1455},{202,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,14}}</string>
                <key>sourceSize</key>
                <string>{202,14}</string>
            </dict>
            <key>exp_bar_result_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1455},{202,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,14}}</string>
                <key>sourceSize</key>
                <string>{202,14}</string>
            </dict>
            <key>exp_bar_result_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1439},{206,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,18}}</string>
                <key>sourceSize</key>
                <string>{206,18}</string>
            </dict>
            <key>hp_enemy_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1459},{98,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,9}}</string>
                <key>sourceSize</key>
                <string>{98,9}</string>
            </dict>
            <key>hp_enemy_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1459},{98,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,10}}</string>
                <key>sourceSize</key>
                <string>{98,10}</string>
            </dict>
            <key>hp_team_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1309},{70,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,12}}</string>
                <key>sourceSize</key>
                <string>{70,12}</string>
            </dict>
            <key>hp_team_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1459},{70,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,12}}</string>
                <key>sourceSize</key>
                <string>{70,12}</string>
            </dict>
            <key>icn_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1378},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>img_battle_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{503,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,303}}</string>
                <key>sourceSize</key>
                <string>{503,303}</string>
            </dict>
            <key>img_rage_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{275,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,187}}</string>
                <key>sourceSize</key>
                <string>{275,187}</string>
            </dict>
            <key>img_rage_skill_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1068,1021}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1068,1021}}</string>
                <key>sourceSize</key>
                <string>{1068,1021}</string>
            </dict>
            <key>img_victory_symbol.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,515},{418,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,348}}</string>
                <key>sourceSize</key>
                <string>{418,348}</string>
            </dict>
            <key>tmzz_bg_info_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1025},{642,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,234}}</string>
                <key>sourceSize</key>
                <string>{642,234}</string>
            </dict>
            <key>tmzz_bg_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,515},{332,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,332}}</string>
                <key>sourceSize</key>
                <string>{332,332}</string>
            </dict>
            <key>tmzz_btn_skip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1261},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>tmzz_btn_skip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1261},{78,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,52}}</string>
                <key>sourceSize</key>
                <string>{78,52}</string>
            </dict>
            <key>tmzz_icon_lv_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,865},{82,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,130}}</string>
                <key>sourceSize</key>
                <string>{82,130}</string>
            </dict>
            <key>tmzz_img_extra_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{329,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,32}}</string>
                <key>sourceSize</key>
                <string>{329,32}</string>
            </dict>
            <key>tmzz_img_result_clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1261},{152,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,53}}</string>
                <key>sourceSize</key>
                <string>{152,53}</string>
            </dict>
            <key>tmzz_img_side_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,2},{146,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,1140}}</string>
                <key>sourceSize</key>
                <string>{146,1140}</string>
            </dict>
            <key>tmzz_rage_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,1378},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tmzz_rage_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1378},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tmzz_rage_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,1378},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tmzz_rage_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,1378},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tmzz_rage_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1323},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tmzz_star_result_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,303},{89,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>tmzz_star_result_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,1144},{113,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,119}}</string>
                <key>sourceSize</key>
                <string>{113,119}</string>
            </dict>
            <key>tmzz_star_result_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1017},{142,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,152}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>tmzz_txt_dengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1239},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>txt_back_dungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1425},{44,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,25}}</string>
                <key>sourceSize</key>
                <string>{44,25}</string>
            </dict>
            <key>txt_battle_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1378},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>txt_home_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1432},{45,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,25}}</string>
                <key>sourceSize</key>
                <string>{45,25}</string>
            </dict>
            <key>txt_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1439},{185,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,30}}</string>
                <key>sourceSize</key>
                <string>{185,30}</string>
            </dict>
            <key>txt_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1432},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>txt_lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1261},{147,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,46}}</string>
                <key>sourceSize</key>
                <string>{147,46}</string>
            </dict>
            <key>txt_page_dungeon.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1405},{69,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,22}}</string>
                <key>sourceSize</key>
                <string>{69,22}</string>
            </dict>
            <key>txt_victory_go_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1438},{114,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,21}}</string>
                <key>sourceSize</key>
                <string>{114,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle2.pvr.ccz</string>
            <key>size</key>
            <string>{2039,1473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b8126012d8725deca25ee16a7c5c382$</string>
            <key>textureFileName</key>
            <string>battle2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
