<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZI_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,337},{206,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,168}}</string>
                <key>sourceSize</key>
                <string>{208,170}</string>
            </dict>
            <key>ZI_kai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,101},{223,192}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{223,192}}</string>
                <key>sourceSize</key>
                <string>{225,194}</string>
            </dict>
            <key>ZI_zhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,503},{195,196}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{195,196}}</string>
                <key>sourceSize</key>
                <string>{197,198}</string>
            </dict>
            <key>ZI_zhun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,150},{204,185}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{204,185}}</string>
                <key>sourceSize</key>
                <string>{206,187}</string>
            </dict>
            <key>bar_bat_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,701},{112,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,77}}</string>
                <key>sourceSize</key>
                <string>{112,77}</string>
            </dict>
            <key>bar_bat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,855},{141,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,99}}</string>
                <key>sourceSize</key>
                <string>{141,99}</string>
            </dict>
            <key>bar_bat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,701},{109,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{109,75}</string>
            </dict>
            <key>bar_bat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,855},{144,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,101}}</string>
                <key>sourceSize</key>
                <string>{144,101}</string>
            </dict>
            <key>bat_bg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,609},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,778},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,780},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,2},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,805},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,805},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_bg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,805},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>bat_btn_speed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,558},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>bat_btn_speed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,507},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>bat_btn_tiaoguo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,926},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>bat_btn_tiaoguo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,928},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>bat_btn_tiaoguo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,928},{109,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,49}}</string>
                <key>sourceSize</key>
                <string>{109,49}</string>
            </dict>
            <key>bg_lose_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{504,801}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,801}}</string>
                <key>sourceSize</key>
                <string>{504,801}</string>
            </dict>
            <key>bg_win_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,851}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,851}}</string>
                <key>sourceSize</key>
                <string>{642,851}</string>
            </dict>
            <key>font_jinglian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,855},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>font_jinhua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,855},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>font_qianghua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{106,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,126}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>font_shengji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,855},{106,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,125}}</string>
                <key>sourceSize</key>
                <string>{106,125}</string>
            </dict>
            <key>font_siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,805},{72,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,46}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>guangquan_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,295},{206,206}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{206,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>pic_battle_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,956},{586,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{586,32}}</string>
                <key>sourceSize</key>
                <string>{588,34}</string>
            </dict>
            <key>pic_chaptertype_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,958},{66,20}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{66,20}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>win_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{254,97}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{254,97}}</string>
                <key>sourceSize</key>
                <string>{262,101}</string>
            </dict>
            <key>win_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,507},{38,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,68}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.pvr.ccz</string>
            <key>size</key>
            <string>{1600,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e058a61d017068b38459049467dbbb4a$</string>
            <key>textureFileName</key>
            <string>battle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
