<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huo_03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,83},{28,41}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,41}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
            <key>huo_03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,123}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{34,123}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
            <key>huo_03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{32,79}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,79}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
            <key>huo_03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{44,81}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C1.pvr.ccz</string>
            <key>size</key>
            <string>{118,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08f9f6f36a46edcb904f0ebf61c698de:1/1$</string>
            <key>textureFileName</key>
            <string>C1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
