<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_damageback_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_damageback_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_damageback_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_damageback_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{343,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_damageback_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>damageback.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f17bb7d3ea63d3d131ec82b541a7ca8:d8c0c80365ecced2e4ed63391f24d456:966d6f2b8b751ee5a419941f29f9257f$</string>
            <key>textureFileName</key>
            <string>damageback.png</string>
        </dict>
    </dict>
</plist>
