<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_fate_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,614},{208,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,112}}</string>
                <key>sourceSize</key>
                <string>{208,112}</string>
            </dict>
            <key>btn_fate_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,614},{208,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,112}}</string>
                <key>sourceSize</key>
                <string>{208,112}</string>
            </dict>
            <key>btn_fate_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{263,116}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{263,116}}</string>
                <key>sourceSize</key>
                <string>{265,118}</string>
            </dict>
            <key>btn_fate_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,614},{263,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{263,115}}</string>
                <key>sourceSize</key>
                <string>{265,117}</string>
            </dict>
            <key>btn_fate_bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{933,610}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{933,610}}</string>
                <key>sourceSize</key>
                <string>{939,674}</string>
            </dict>
            <key>btn_fate_bg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,728},{235,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{235,48}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>btn_fate_bg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{260,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{260,32}}</string>
                <key>sourceSize</key>
                <string>{264,34}</string>
            </dict>
            <key>btn_fate_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,731},{162,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,32}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
            <key>btn_fate_select_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,732},{162,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,32}}</string>
                <key>sourceSize</key>
                <string>{164,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fate.pvr.ccz</string>
            <key>size</key>
            <string>{952,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c1a17751e53f672c7233053c335cf41$</string>
            <key>textureFileName</key>
            <string>fate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
