<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_bg_frd_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,196},{606,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,56}}</string>
                <key>sourceSize</key>
                <string>{606,56}</string>
            </dict>
            <key>tmzz_bg_list_frd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{642,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,119}}</string>
                <key>sourceSize</key>
                <string>{642,119}</string>
            </dict>
            <key>tmzz_btn_frd_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,329},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>tmzz_btn_frd_agree_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,254},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>tmzz_btn_frd_battle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,254},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_battle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,329},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,329},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>tmzz_btn_frd_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,254},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,377},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>tmzz_btn_frd_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,329},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>tmzz_btn_frd_refuse_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,377},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>tmzz_btn_frd_req_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,254},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>tmzz_btn_frd_req_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,311},{79,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,73}}</string>
                <key>sourceSize</key>
                <string>{79,73}</string>
            </dict>
            <key>tmzz_btn_frd_req_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,377},{163,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,55}}</string>
                <key>sourceSize</key>
                <string>{163,55}</string>
            </dict>
            <key>tmzz_btn_frd_search.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,311},{81,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,32}}</string>
                <key>sourceSize</key>
                <string>{81,32}</string>
            </dict>
            <key>tmzz_btn_frd_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,329},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_send_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,254},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_send_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,377},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>tmzz_btn_frd_take_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,329},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_take_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,254},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>tmzz_btn_frd_take_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{163,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,55}}</string>
                <key>sourceSize</key>
                <string>{163,55}</string>
            </dict>
            <key>tmzz_fade_black_frd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,252}}</string>
                <key>sourceSize</key>
                <string>{642,252}</string>
            </dict>
            <key>tmzz_title_frd.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{642,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,192}}</string>
                <key>sourceSize</key>
                <string>{642,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.pvr.ccz</string>
            <key>size</key>
            <string>{1290,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07983d7c5ff581193377e23b81f33609$</string>
            <key>textureFileName</key>
            <string>friend.pvr.ccz</string>
        </dict>
    </dict>
</plist>
