<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_func_bisai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_func_daoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,495},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_func_fate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_func_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,331},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_func_huojiandui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_func_jingjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,659},{642,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,158}}</string>
                <key>sourceSize</key>
                <string>{642,158}</string>
            </dict>
            <key>bg_func_road.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_func_tianti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,162}}</string>
                <key>sourceSize</key>
                <string>{642,162}</string>
            </dict>
            <key>bg_shilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{327,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,327}}</string>
                <key>sourceSize</key>
                <string>{327,327}</string>
            </dict>
            <key>title_shilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,819},{386,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,152}}</string>
                <key>sourceSize</key>
                <string>{386,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>functions.pvr.ccz</string>
            <key>size</key>
            <string>{1290,973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85dfbdf012b6c120b7c470cfd34fb135$</string>
            <key>textureFileName</key>
            <string>functions.pvr.ccz</string>
        </dict>
    </dict>
</plist>
