<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_bg_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,772}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,772}}</string>
                <key>sourceSize</key>
                <string>{590,772}</string>
            </dict>
            <key>tmzz_btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_dashline_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{543,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,8}}</string>
                <key>sourceSize</key>
                <string>{543,8}</string>
            </dict>
            <key>tmzz_title_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,776},{111,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,32}}</string>
                <key>sourceSize</key>
                <string>{111,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gonggao.pvr.ccz</string>
            <key>size</key>
            <string>{594,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a048627a57e68355c5b3a91c928632d$</string>
            <key>textureFileName</key>
            <string>gonggao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
