<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_pop_new_func.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{504,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,378}}</string>
                <key>sourceSize</key>
                <string>{504,378}</string>
            </dict>
            <key>btn_go_to.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>cha_daoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,254},{474,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{474,250}}</string>
                <key>sourceSize</key>
                <string>{478,252}</string>
            </dict>
            <key>cha_diaoyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{474,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{474,250}}</string>
                <key>sourceSize</key>
                <string>{478,252}</string>
            </dict>
            <key>cha_jingjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{474,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{474,250}}</string>
                <key>sourceSize</key>
                <string>{478,252}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gotofunctions.pvr.ccz</string>
            <key>size</key>
            <string>{1460,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ea2c81bc1a62ceb0d7d83a65a3a840b$</string>
            <key>textureFileName</key>
            <string>gotofunctions.pvr.ccz</string>
        </dict>
    </dict>
</plist>
