<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JlingQ_01_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,149},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>banner_ad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{347,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,51}}</string>
                <key>sourceSize</key>
                <string>{347,51}</string>
            </dict>
            <key>bg_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,325},{140,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,34}}</string>
                <key>sourceSize</key>
                <string>{140,34}</string>
            </dict>
            <key>btn_boss_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,207},{130,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,129}}</string>
                <key>sourceSize</key>
                <string>{130,129}</string>
            </dict>
            <key>btn_chouka_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,166}}</string>
                <key>sourceSize</key>
                <string>{612,166}</string>
            </dict>
            <key>btn_chouka_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{355,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,242}}</string>
                <key>sourceSize</key>
                <string>{355,242}</string>
            </dict>
            <key>btn_chouka_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{379,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,274}}</string>
                <key>sourceSize</key>
                <string>{379,274}</string>
            </dict>
            <key>btn_event.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,431},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>btn_home_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,352},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>btn_home_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{210,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,203}}</string>
                <key>sourceSize</key>
                <string>{210,203}</string>
            </dict>
            <key>btn_home_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,331},{217,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,135}}</string>
                <key>sourceSize</key>
                <string>{217,135}</string>
            </dict>
            <key>btn_home_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,170},{226,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,159}}</string>
                <key>sourceSize</key>
                <string>{226,159}</string>
            </dict>
            <key>btn_home_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,2},{214,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,145}}</string>
                <key>sourceSize</key>
                <string>{214,145}</string>
            </dict>
            <key>btn_home_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,2},{210,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,154}}</string>
                <key>sourceSize</key>
                <string>{210,154}</string>
            </dict>
            <key>btn_home_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,246},{183,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,57}}</string>
                <key>sourceSize</key>
                <string>{183,57}</string>
            </dict>
            <key>btn_home_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,207},{131,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,137}}</string>
                <key>sourceSize</key>
                <string>{131,137}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,444},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>btn_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,158},{129,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,128}}</string>
                <key>sourceSize</key>
                <string>{129,128}</string>
            </dict>
            <key>btn_round_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,2},{154,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,160}}</string>
                <key>sourceSize</key>
                <string>{154,160}</string>
            </dict>
            <key>btn_round_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,352},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>btn_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,444},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>btn_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,353},{95,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,71}}</string>
                <key>sourceSize</key>
                <string>{95,71}</string>
            </dict>
            <key>btn_small_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,418},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{59,84}</string>
            </dict>
            <key>btn_small_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,419},{83,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,89}}</string>
                <key>sourceSize</key>
                <string>{83,89}</string>
            </dict>
            <key>btn_small_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,158},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>btn_small_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,286},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,64}}</string>
                <key>sourceSize</key>
                <string>{100,64}</string>
            </dict>
            <key>btn_small_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,351},{73,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,91}}</string>
                <key>sourceSize</key>
                <string>{73,91}</string>
            </dict>
            <key>btn_small_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,345},{86,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,59}}</string>
                <key>sourceSize</key>
                <string>{86,59}</string>
            </dict>
            <key>btn_small_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1397,149},{122,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,65}}</string>
                <key>sourceSize</key>
                <string>{122,65}</string>
            </dict>
            <key>btn_small_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,351},{55,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,91}}</string>
                <key>sourceSize</key>
                <string>{55,91}</string>
            </dict>
            <key>btn_small_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,247},{71,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,94}}</string>
                <key>sourceSize</key>
                <string>{71,94}</string>
            </dict>
            <key>btn_small_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,418},{57,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,87}}</string>
                <key>sourceSize</key>
                <string>{57,87}</string>
            </dict>
            <key>btn_small_chouka.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,246},{175,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,104}}</string>
                <key>sourceSize</key>
                <string>{175,104}</string>
            </dict>
            <key>btn_view_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,343},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>exp_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,305},{173,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,18}}</string>
                <key>sourceSize</key>
                <string>{173,18}</string>
            </dict>
            <key>home_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,353},{109,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,76}}</string>
                <key>sourceSize</key>
                <string>{109,76}</string>
            </dict>
            <key>img_boss_raid_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,247},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>img_boss_raid_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,241},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>img_boss_raid_heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,444},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>night_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,361},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>night_loop.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,346},{109,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,104}}</string>
                <key>sourceSize</key>
                <string>{109,104}</string>
            </dict>
            <key>night_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,361},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>tmzz_icn_jinku.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,431},{96,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,71}}</string>
                <key>sourceSize</key>
                <string>{96,71}</string>
            </dict>
            <key>tmzz_icn_maoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,164},{122,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,81}}</string>
                <key>sourceSize</key>
                <string>{122,81}</string>
            </dict>
            <key>tmzz_icn_shouchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,426},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>tmzz_icn_yueka.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,338},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>tmzz_txt_home_jinku.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,486},{67,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,20}}</string>
                <key>sourceSize</key>
                <string>{67,20}</string>
            </dict>
            <key>tmzz_txt_home_maoxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,216},{35,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,20}}</string>
                <key>sourceSize</key>
                <string>{35,20}</string>
            </dict>
            <key>txt_boss_raid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,216},{113,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,68}}</string>
                <key>sourceSize</key>
                <string>{113,68}</string>
            </dict>
            <key>txt_night-world.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,288},{125,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{125,63}</string>
            </dict>
            <key>txt_zjm_bottom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,468},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zjm_bottom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,489},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zjm_bottom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,381},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>txt_zjm_bottom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,489},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>txt_zjm_bottom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,489},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zjm_bottom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,452},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>txt_zjm_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,452},{67,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,20}}</string>
                <key>sourceSize</key>
                <string>{67,20}</string>
            </dict>
            <key>txt_zjm_title10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,492},{49,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,16}}</string>
                <key>sourceSize</key>
                <string>{49,16}</string>
            </dict>
            <key>txt_zjm_title11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,465},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zjm_title12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,444},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zjm_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,487},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>txt_zjm_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,485},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,23}}</string>
                <key>sourceSize</key>
                <string>{83,23}</string>
            </dict>
            <key>txt_zjm_title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,468},{75,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,16}}</string>
                <key>sourceSize</key>
                <string>{75,16}</string>
            </dict>
            <key>txt_zjm_title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,423},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>txt_zjm_title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,485},{36,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>txt_zjm_title7.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,468},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>txt_zjm_title8.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,468},{67,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,19}}</string>
                <key>sourceSize</key>
                <string>{67,19}</string>
            </dict>
            <key>txt_zjm_title9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,402},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>zhucheng_font_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>zhucheng_font_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>zhucheng_font_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>zhucheng_font_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>zhucheng_font_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>zhucheng_font_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>zhucheng_font_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,487},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hometown.pvr.ccz</string>
            <key>size</key>
            <string>{1769,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a66bb9da18276971fb0802026d2c785$</string>
            <key>textureFileName</key>
            <string>hometown.pvr.ccz</string>
        </dict>
    </dict>
</plist>
