<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_dash_line_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{575,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,3}}</string>
                <key>sourceSize</key>
                <string>{575,3}</string>
            </dict>
            <key>tmzz_icon_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,7},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>tmzz_icon_normal_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,7},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>tmzz_icon_rage_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,7},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>tmzz_title_combo_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,7},{236,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,51}}</string>
                <key>sourceSize</key>
                <string>{236,51}</string>
            </dict>
            <key>tmzz_title_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,7},{192,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,47}}</string>
                <key>sourceSize</key>
                <string>{192,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jinengtanchuang.pvr.ccz</string>
            <key>size</key>
            <string>{579,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b24f35abc443f446629928ac4110983$</string>
            <key>textureFileName</key>
            <string>jinengtanchuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
