<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_bg_detail_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{283,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,83}}</string>
                <key>sourceSize</key>
                <string>{283,83}</string>
            </dict>
            <key>tmzz_bg_profile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,202}}</string>
                <key>sourceSize</key>
                <string>{422,202}</string>
            </dict>
            <key>tmzz_btn_auto_equp.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,190},{140,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,62}}</string>
                <key>sourceSize</key>
                <string>{140,62}</string>
            </dict>
            <key>tmzz_btn_awake.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>tmzz_btn_degenerate.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,134},{159,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,52}}</string>
                <key>sourceSize</key>
                <string>{159,52}</string>
            </dict>
            <key>tmzz_btn_info_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,206},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>tmzz_btn_like_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>tmzz_btn_like_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,69},{42,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,63}}</string>
                <key>sourceSize</key>
                <string>{42,63}</string>
            </dict>
            <key>tmzz_btn_profile.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,206},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>tmzz_btn_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>tmzz_equip_accessory.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tmzz_equip_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,87},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tmzz_equip_hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,87},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tmzz_equip_luk.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,87},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tmzz_equip_neck.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,87},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tmzz_equip_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,87},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>tmzz_gradation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,154},{321,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,34}}</string>
                <key>sourceSize</key>
                <string>{321,34}</string>
            </dict>
            <key>tmzz_title_profile.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,190},{356,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,20}}</string>
                <key>sourceSize</key>
                <string>{356,20}</string>
            </dict>
            <key>tmzz_txt_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,111},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>tmzz_txt_chushinengliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,212},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>tmzz_txt_fachuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,65},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>tmzz_txt_fakang.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,65},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>tmzz_txt_fantan.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,212},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>tmzz_txt_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,66},{56,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,21}}</string>
                <key>sourceSize</key>
                <string>{56,21}</string>
            </dict>
            <key>tmzz_txt_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,212},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>tmzz_txt_hujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,65},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,21}}</string>
                <key>sourceSize</key>
                <string>{37,21}</string>
            </dict>
            <key>tmzz_txt_jiyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,212},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>tmzz_txt_kangyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,212},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>tmzz_txt_mingzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,212},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>tmzz_txt_nengliangshangxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,212},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>tmzz_txt_pojia.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,88},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>tmzz_txt_renxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,154},{39,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,22}}</string>
                <key>sourceSize</key>
                <string>{39,22}</string>
            </dict>
            <key>tmzz_txt_shanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,88},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>tmzz_txt_tianfu.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,89},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>tmzz_txt_xixue.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,112},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>tmzz_txt_zhandouli.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,89},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>juesexiangqing.pvr.ccz</string>
            <key>size</key>
            <string>{985,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af65a1c3a657db7f1362676cfd165ecd$</string>
            <key>textureFileName</key>
            <string>juesexiangqing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
