<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_dian_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{12,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,378}}</string>
                <key>sourceSize</key>
                <string>{12,378}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{116,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,348}}</string>
                <key>sourceSize</key>
                <string>{116,348}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,387}}</string>
                <key>sourceSize</key>
                <string>{127,387}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{158,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,358}}</string>
                <key>sourceSize</key>
                <string>{158,358}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{140,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,316}}</string>
                <key>sourceSize</key>
                <string>{140,316}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{114,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,271}}</string>
                <key>sourceSize</key>
                <string>{114,271}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,2},{147,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,274}}</string>
                <key>sourceSize</key>
                <string>{147,274}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{120,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,205}}</string>
                <key>sourceSize</key>
                <string>{120,205}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,278},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,278},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>Tx_Jn_111_dian_2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,275},{92,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,96}}</string>
                <key>sourceSize</key>
                <string>{92,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L3.pvr.ccz</string>
            <key>size</key>
            <string>{952,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940773a02562eabd9763919e5b473114:1/1$</string>
            <key>textureFileName</key>
            <string>L3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
