<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_ShengBo_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,594},{152,138}}</string>
                <key>offset</key>
                <string>{-42,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,160},{152,138}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,584},{134,134}}</string>
                <key>offset</key>
                <string>{-37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,165},{134,134}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{286,288}}</string>
                <key>offset</key>
                <string>{-31,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,80},{286,288}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{274,278}}</string>
                <key>offset</key>
                <string>{-32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,84},{274,278}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,282},{254,258}}</string>
                <key>offset</key>
                <string>{-32,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{254,258}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,542},{182,180}}</string>
                <key>offset</key>
                <string>{-35,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,134},{182,180}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,584},{88,92}}</string>
                <key>offset</key>
                <string>{-32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,178},{88,92}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{292,294}}</string>
                <key>offset</key>
                <string>{-46,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{292,294}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,542},{208,210}}</string>
                <key>offset</key>
                <string>{-46,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,124},{208,210}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{142,146}}</string>
                <key>offset</key>
                <string>{-45,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,156},{142,146}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,294}}</string>
                <key>offset</key>
                <string>{-46,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{292,294}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{288,290}}</string>
                <key>offset</key>
                <string>{-48,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{288,290}}</string>
                <key>sourceSize</key>
                <string>{384,376}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L7.pvr.ccz</string>
            <key>size</key>
            <string>{978,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f57452418d82d7e751fac9c1963191:1/1$</string>
            <key>textureFileName</key>
            <string>L7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
