<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_bg_fx_risk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,287}}</string>
                <key>sourceSize</key>
                <string>{454,287}</string>
            </dict>
            <key>tmzz_bg_time_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,372},{188,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,72}}</string>
                <key>sourceSize</key>
                <string>{188,72}</string>
            </dict>
            <key>tmzz_btn_risk.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,291},{202,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,79}}</string>
                <key>sourceSize</key>
                <string>{202,79}</string>
            </dict>
            <key>tmzz_btn_risk_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,286},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>tmzz_fx_risk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>tmzz_fx_risk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>tmzz_fx_risk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>tmzz_fx_risk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>tmzz_pop_bg_risk.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,286},{610,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,170}}</string>
                <key>sourceSize</key>
                <string>{610,170}</string>
            </dict>
            <key>tmzz_title_risk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{450,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,108}}</string>
                <key>sourceSize</key>
                <string>{450,108}</string>
            </dict>
            <key>tmzz_txt_next_time_risk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{73,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{73,20}</string>
            </dict>
            <key>tmzz_txt_num_risk.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,424},{72,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,20}}</string>
                <key>sourceSize</key>
                <string>{72,20}</string>
            </dict>
            <key>txt_risk_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{165,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,21}}</string>
                <key>sourceSize</key>
                <string>{165,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maoxian.pvr.ccz</string>
            <key>size</key>
            <string>{1594,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa851d554112eda81f72fcd68c384234$</string>
            <key>textureFileName</key>
            <string>maoxian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
