<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_miss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_miss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_miss_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,415},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_miss_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,621},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_miss_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_miss_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{343,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_miss_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{513,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>miss.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3070f435138f50171fc5b62a9b9c351a:7107fa9b547e6781d8b425da409b4419:6c9a1d41327c006537c5f37b2d0b7b43$</string>
            <key>textureFileName</key>
            <string>miss.png</string>
        </dict>
    </dict>
</plist>
