<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_reel_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_reel_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{3,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_reel_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_reel_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{343,3},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_reel_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,202}</string>
                <key>spriteSourceSize</key>
                <string>{166,202}</string>
                <key>textureRect</key>
                <string>{{173,209},{166,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>reel.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c058c9d0d41260a542d97fdf99336771:7cadb125954e9b3a848c11a3603fd7dc:ee72967b9a30566a12cccc46fd26eb79$</string>
            <key>textureFileName</key>
            <string>reel.png</string>
        </dict>
    </dict>
</plist>
