<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_creat_0.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1140}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
            <key>pic_nanzhu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1144},{344,729}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,729}}</string>
                <key>sourceSize</key>
                <string>{344,729}</string>
            </dict>
            <key>pic_nvzhu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{330,730}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,730}}</string>
                <key>sourceSize</key>
                <string>{330,730}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rolecreate.pvr.ccz</string>
            <key>size</key>
            <string>{680,1876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f32f39f7238cbee3f77c22168799236$</string>
            <key>textureFileName</key>
            <string>rolecreate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
