<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_ShengBo_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,111},{78,71}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,89},{78,71}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,396},{70,69}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,91},{70,69}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{76,87}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{76,87}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{108,107}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,67},{108,107}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,368},{54,57}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,83},{54,57}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,427},{50,55}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,75},{50,55}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,111},{22,23}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,112},{22,23}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,431},{34,31}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,105},{34,31}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,368},{48,47}}</string>
                <key>offset</key>
                <string>{-19,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,99},{48,47}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,368},{62,61}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,93},{62,61}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{150,199}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{150,199}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,191}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{200,191}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
            <key>Tx_Jn_000_ShengBo_1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,195},{168,171}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{168,171}}</string>
                <key>sourceSize</key>
                <string>{208,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S11.pvr.ccz</string>
            <key>size</key>
            <string>{324,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:113aa60ee56c2bef37d965d0f59964cd:1/1$</string>
            <key>textureFileName</key>
            <string>S11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
