<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_bing_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{152,135}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{152,135}}</string>
                <key>sourceSize</key>
                <string>{236,189}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{94,65}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,95},{94,65}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{104,109}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,55},{104,109}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{146,123}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,55},{146,123}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,129}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,56},{178,129}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,139},{184,97}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,90},{184,97}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,238},{184,95}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,92},{184,95}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>Tx_Jn_000_bing_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,335},{188,93}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,95},{188,93}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S2.pvr.ccz</string>
            <key>size</key>
            <string>{336,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd12abddc15ef8dd908a84fd5958d344:1/1$</string>
            <key>textureFileName</key>
            <string>S2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
