<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_dian_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,142},{70,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,28},{70,77}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,142},{68,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{68,67}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,187},{28,27}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{28,27}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,75},{114,65}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{114,65}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{116,65}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,38},{116,65}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,187},{50,65}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,37},{50,65}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,106},{80,79}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,31},{80,79}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{124,123}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{124,123}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,133}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,221},{30,27}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,65},{30,27}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,211},{34,33}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,56},{34,33}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,204},{58,35}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,45},{58,35}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{56,41}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{56,41}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{88,53}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{88,53}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,127},{98,57}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,33},{98,57}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,57},{84,47}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{84,47}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{110,71}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{110,71}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,186},{54,61}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{54,61}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
            <key>Tx_Jn_000_dian_1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,187},{54,57}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{54,57}}</string>
                <key>sourceSize</key>
                <string>{132,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S3.pvr.ccz</string>
            <key>size</key>
            <string>{464,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04807cf3b63b50aaa65ee930732ca00:1/1$</string>
            <key>textureFileName</key>
            <string>S3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
