<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_feng_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{82,34}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{82,34}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{84,40}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,82},{84,40}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{176,124}}</string>
                <key>offset</key>
                <string>{30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{176,124}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,488},{142,112}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{142,112}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,376},{144,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{144,110}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,492},{130,110}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,25},{130,110}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,136},{114,122}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,25},{114,122}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{158,132}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{158,132}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,136},{156,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{156,124}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,262},{150,112}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{150,112}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,132}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{236,132}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,262},{144,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,24},{144,118}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,382},{132,108}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,26},{132,108}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{136,132}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,18},{136,132}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
            <key>Tx_Jn_000_feng_2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{146,138}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,12},{146,138}}</string>
                <key>sourceSize</key>
                <string>{236,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S7.pvr.ccz</string>
            <key>size</key>
            <string>{485,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37076e90b97aa3924223d0a3eebde081:1/1$</string>
            <key>textureFileName</key>
            <string>S7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
