<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_buy_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,459},{582,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,302}}</string>
                <key>sourceSize</key>
                <string>{582,302}</string>
            </dict>
            <key>btn_buy_minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,861},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>btn_buy_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,385},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>icon_vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,914},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,914},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,914},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,914},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,924},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,924},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,924},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,924},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,914},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,862},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,862},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,862},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,862},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,924},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_vip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,924},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>tmzz_bg_black_fade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,459},{304,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,389}}</string>
                <key>sourceSize</key>
                <string>{304,389}</string>
            </dict>
            <key>tmzz_bg_shop_invest_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,497}}</string>
                <key>sourceSize</key>
                <string>{642,497}</string>
            </dict>
            <key>tmzz_bg_shop_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,703},{642,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,157}}</string>
                <key>sourceSize</key>
                <string>{642,157}</string>
            </dict>
            <key>tmzz_bg_shouchong_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,763},{361,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,149}}</string>
                <key>sourceSize</key>
                <string>{361,149}</string>
            </dict>
            <key>tmzz_bg_vip_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{630,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,200}}</string>
                <key>sourceSize</key>
                <string>{630,200}</string>
            </dict>
            <key>tmzz_black_fade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{642,455}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,455}}</string>
                <key>sourceSize</key>
                <string>{642,455}</string>
            </dict>
            <key>tmzz_btn_large_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,850},{146,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,72}}</string>
                <key>sourceSize</key>
                <string>{146,72}</string>
            </dict>
            <key>tmzz_btn_shop_batch_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,841},{105,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,72}}</string>
                <key>sourceSize</key>
                <string>{105,72}</string>
            </dict>
            <key>tmzz_btn_ticket_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,232},{186,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,151}}</string>
                <key>sourceSize</key>
                <string>{186,151}</string>
            </dict>
            <key>tmzz_btn_ticket_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,862},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>tmzz_btn_vip_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,918},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>tmzz_btn_vip_gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,850},{154,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,66}}</string>
                <key>sourceSize</key>
                <string>{154,66}</string>
            </dict>
            <key>tmzz_btn_yellow_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{139,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,61}}</string>
                <key>sourceSize</key>
                <string>{139,61}</string>
            </dict>
            <key>tmzz_icon_shop_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,763},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>tmzz_tag_invest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,763},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>tmzz_tag_itemshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,232},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>tmzz_tag_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,925},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>tmzz_tag_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,291},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>tmzz_title_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>tmzz_title_vip_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,408},{153,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,36}}</string>
                <key>sourceSize</key>
                <string>{153,36}</string>
            </dict>
            <key>tmzz_txt_shouchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,915},{125,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,36}}</string>
                <key>sourceSize</key>
                <string>{125,36}</string>
            </dict>
            <key>tmzz_txt_tag_invest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,339},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>tmzz_txt_tag_itemshop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,19}}</string>
                <key>sourceSize</key>
                <string>{68,19}</string>
            </dict>
            <key>tmzz_txt_tag_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,360},{35,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,19}}</string>
                <key>sourceSize</key>
                <string>{35,19}</string>
            </dict>
            <key>tmzz_txt_tag_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,763},{35,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,17}}</string>
                <key>sourceSize</key>
                <string>{35,17}</string>
            </dict>
            <key>tmzz_txt_ticket_remain.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,385},{169,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,21}}</string>
                <key>sourceSize</key>
                <string>{169,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shangcheng.pvr.ccz</string>
            <key>size</key>
            <string>{1536,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c765bf9754273e2abd2e74209b81c1f$</string>
            <key>textureFileName</key>
            <string>shangcheng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
