<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_efx_bg_yellow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{406,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,406}}</string>
                <key>sourceSize</key>
                <string>{406,406}</string>
            </dict>
            <key>tmzz_ele_level_up_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,474}}</string>
                <key>sourceSize</key>
                <string>{444,474}</string>
            </dict>
            <key>tmzz_shengji_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,410},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>tmzz_txt_shengji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,410},{147,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,27}}</string>
                <key>sourceSize</key>
                <string>{147,27}</string>
            </dict>
            <key>tmzz_txt_shengji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,439},{221,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,24}}</string>
                <key>sourceSize</key>
                <string>{221,24}</string>
            </dict>
            <key>tmzz_txt_shengji_cishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,430},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,18}</string>
            </dict>
            <key>tmzz_txt_shengji_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,410},{59,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,18}}</string>
                <key>sourceSize</key>
                <string>{59,18}</string>
            </dict>
            <key>tmzz_txt_shengji_tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,410},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji.pvr.ccz</string>
            <key>size</key>
            <string>{856,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9fdc7c686e79060fb3696cac1315cad$</string>
            <key>textureFileName</key>
            <string>shengji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
