<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tmzz_bg_shouhu_shuxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,308}}</string>
                <key>sourceSize</key>
                <string>{604,308}</string>
            </dict>
            <key>tmzz_btn_shouhu_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,312},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>tmzz_btn_shouhu_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,312},{262,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,82}}</string>
                <key>sourceSize</key>
                <string>{262,82}</string>
            </dict>
            <key>tmzz_icon_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,346},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>tmzz_icon_card_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,312},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tmzz_icon_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,312},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>tmzz_select_frame_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>tmzz_txt_shuxing_gaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,386},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
            <key>tmzz_txt_shuxing_jichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,394},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shouhu.pvr.ccz</string>
            <key>size</key>
            <string>{608,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b4f3f1a28ff3c615ee3a3ebabc5b5c$</string>
            <key>textureFileName</key>
            <string>shouhu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
