<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{548,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,452}}</string>
                <key>sourceSize</key>
                <string>{548,452}</string>
            </dict>
            <key>bg_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,921}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,921}}</string>
                <key>sourceSize</key>
                <string>{620,921}</string>
            </dict>
            <key>bg_sign_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,646},{440,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,170}}</string>
                <key>sourceSize</key>
                <string>{440,170}</string>
            </dict>
            <key>bg_slot_sign_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,818},{93,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,95}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>btn_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,818},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>btn_sign_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,818},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>mark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,516},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>mark_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,456},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>mark_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,576},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>today_gift_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,456},{476,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,188}}</string>
                <key>sourceSize</key>
                <string>{476,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sign.pvr.ccz</string>
            <key>size</key>
            <string>{1174,925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309506d0e9f697c33e746294e8aa8be3$</string>
            <key>textureFileName</key>
            <string>sign.pvr.ccz</string>
        </dict>
    </dict>
</plist>
