<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banner_chouka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,606},{642,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,242}}</string>
                <key>sourceSize</key>
                <string>{642,242}</string>
            </dict>
            <key>bg_bp_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1404},{619,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,153}}</string>
                <key>sourceSize</key>
                <string>{619,153}</string>
            </dict>
            <key>bg_bp_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{642,767}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,767}}</string>
                <key>sourceSize</key>
                <string>{642,767}</string>
            </dict>
            <key>bg_chouka_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1795},{642,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,66}}</string>
                <key>sourceSize</key>
                <string>{642,66}</string>
            </dict>
            <key>bg_chouka_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1819},{642,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,66}}</string>
                <key>sourceSize</key>
                <string>{642,66}</string>
            </dict>
            <key>bg_chouka_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1559},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>bg_chouka_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,706},{642,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,642}}</string>
                <key>sourceSize</key>
                <string>{642,642}</string>
            </dict>
            <key>bg_chouka_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,850},{552,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,552}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>bg_chouka_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1559},{305,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,305}}</string>
                <key>sourceSize</key>
                <string>{305,305}</string>
            </dict>
            <key>bg_chouka_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{702,702}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,702}}</string>
                <key>sourceSize</key>
                <string>{702,702}</string>
            </dict>
            <key>bg_chouka_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{602,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,602}}</string>
                <key>sourceSize</key>
                <string>{602,602}</string>
            </dict>
            <key>bg_chouka_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1046}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{642,1046}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
            <key>bg_chouzhuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1350},{642,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,443}}</string>
                <key>sourceSize</key>
                <string>{642,443}</string>
            </dict>
            <key>bg_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1162},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>bg_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1112},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>bg_tip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1062},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>btn_call_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1695},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>btn_call_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1627},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>btn_call_equip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,1559},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>btn_call_equip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1318},{116,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,66}}</string>
                <key>sourceSize</key>
                <string>{116,66}</string>
            </dict>
            <key>btn_chouka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1009},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>btn_chouka_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,956},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>btn_chouka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,903},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>btn_chouka_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,850},{202,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,51}}</string>
                <key>sourceSize</key>
                <string>{202,51}</string>
            </dict>
            <key>btn_chouka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1866},{302,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,51}}</string>
                <key>sourceSize</key>
                <string>{302,51}</string>
            </dict>
            <key>btn_chouka_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1863},{302,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,51}}</string>
                <key>sourceSize</key>
                <string>{302,51}</string>
            </dict>
            <key>btn_chouka_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1265},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>btn_chouka_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1212},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>btn_niudan_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,2},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>btn_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1866},{98,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,36}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>callcard_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,142},{83,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,55}}</string>
                <key>sourceSize</key>
                <string>{83,55}</string>
            </dict>
            <key>callcard_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,83},{83,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,57}}</string>
                <key>sourceSize</key>
                <string>{83,57}</string>
            </dict>
            <key>zhuangbei_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1785},{319,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,129}}</string>
                <key>sourceSize</key>
                <string>{319,129}</string>
            </dict>
            <key>zhuangbei_title_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1863},{226,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,56}}</string>
                <key>sourceSize</key>
                <string>{226,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toys.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1921}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9152bdeb81d5977ee94adcdb189a5dac$</string>
            <key>textureFileName</key>
            <string>toys.pvr.ccz</string>
        </dict>
    </dict>
</plist>
