<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yr.testpay"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="28"
    android:versionName="3.0.9" >

    // .withContext(mActivity.getApplication())需要此权限
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="26" />
    <application
         android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <!--  android:configChanges="keyboardHidden|orientation|screenSize"
            防止横竖屏切换时重新执行oncreate-->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--YRSDK start-->
        <!-- ### facebook beg ### -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:configChanges,android:theme" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--      将意图筛选条件添加到 manifest 文件，将 fb_login_protocol_scheme 添加到 strings.xml 文件，
              启用 Chrome 自定义选项卡。启用 Chrome 自定义选项卡时，如果未安装 Facebook 应用，
              SDK 会在 Chrome 自定义选项卡中展示“登录”对话框，而不是网页视图中。因此，
              如果用户已在 Chrome 浏览器中登录 Facebook，则无需再次输入凭证。-->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- // if yourbApp ID is 1234567, you should use fb1234567
                 <string name="fb_login_protocol_scheme">fbAPP_ID</string>-->
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- ### facebook end ### -->
        
         
        

        <!--YRSDK end-->



    </application>

</manifest>
