<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yr.gamesdk"
    android:versionCode="7"
    android:versionName="2.2.2" >

    <uses-sdk android:minSdkVersion="15" />


    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
     <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <application>
	   <!-- Appsflyer-->
        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
                
            <intent-filter>
                         
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                     
            </intent-filter>
        </receiver>
    </application>

</manifest>
