<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_beattack_e_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,238}</string>
                <key>spriteSourceSize</key>
                <string>{250,238}</string>
                <key>textureRect</key>
                <string>{{3,3},{250,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_beattack_e_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,238}</string>
                <key>spriteSourceSize</key>
                <string>{250,238}</string>
                <key>textureRect</key>
                <string>{{257,3},{250,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_beattack_e_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,238}</string>
                <key>spriteSourceSize</key>
                <string>{250,238}</string>
                <key>textureRect</key>
                <string>{{3,245},{250,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_beattack_e_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,238}</string>
                <key>spriteSourceSize</key>
                <string>{250,238}</string>
                <key>textureRect</key>
                <string>{{257,245},{250,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beattack_e1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02eec9e79b5c721b3866f4988433755d:afde2bfbae03aaffa962d068611170a9:592a3090a6f44b193d1ac640daf83077$</string>
            <key>textureFileName</key>
            <string>beattack_e1.png</string>
        </dict>
    </dict>
</plist>
