<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_ShengBo_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,290}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{207,210}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,42},{207,210}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,378},{143,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,75},{143,144}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,294},{125,116}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,87},{125,116}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{147,146}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,70},{147,146}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,214},{175,162}}</string>
                <key>offset</key>
                <string>{11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,44},{175,162}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
            <key>Tx_Jn_111_ShengBo_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,412},{153,130}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,64},{153,130}}</string>
                <key>sourceSize</key>
                <string>{289,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C3.pvr.ccz</string>
            <key>size</key>
            <string>{502,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04fc10b45a37912ba22fd9925c27dd8c:1/1$</string>
            <key>textureFileName</key>
            <string>C3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
