<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_huo_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,486},{239,239}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,9},{239,239}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,245},{239,239}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,10},{239,239}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{215,221}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,25},{215,221}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,245}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{405,245}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,245},{367,257}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{367,257}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{371,261}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{371,261}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,504},{367,241}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{367,241}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{377,241}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{377,241}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
            <key>Tx_Jn_111_huo_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{379,183}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{379,183}}</string>
                <key>sourceSize</key>
                <string>{405,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>C6.pvr.ccz</string>
            <key>size</key>
            <string>{1019,747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e73b1154bf4a00adb6b9583111a30cc:1/1$</string>
            <key>textureFileName</key>
            <string>C6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
