<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chat_frd.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_chat_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>tmzz_chat_bubble_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,66}}</string>
                <key>sourceSize</key>
                <string>{61,66}</string>
            </dict>
            <key>tmzz_chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tmzz_chat_txtbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{434,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,58}}</string>
                <key>sourceSize</key>
                <string>{434,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.pvr.ccz</string>
            <key>size</key>
            <string>{868,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ab657c59d3397e3639d54d0e4c597d8$</string>
            <key>textureFileName</key>
            <string>chat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
