<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_death_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{3,3},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_death_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{389,3},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_death_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{775,3},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_death_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{1161,3},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_death_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{1547,3},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_death_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{3,357},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_death_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,350}</string>
                <key>textureRect</key>
                <string>{{3,711},{382,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dead_e1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0accf5d44fd0ee7594fb7193976b0b9f:9c0d4e91742c0e1b1f0f181699739d6b:fcd4034fd1a52d22c33567688d520748$</string>
            <key>textureFileName</key>
            <string>dead_e1.png</string>
        </dict>
    </dict>
</plist>
