<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_team_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,451},{329,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,34}}</string>
                <key>sourceSize</key>
                <string>{329,34}</string>
            </dict>
            <key>btn_combo_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,340},{159,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,56}}</string>
                <key>sourceSize</key>
                <string>{159,56}</string>
            </dict>
            <key>btn_enterteam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,188},{124,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,45}}</string>
                <key>sourceSize</key>
                <string>{124,45}</string>
            </dict>
            <key>btn_guard_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,274},{157,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,64}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
            <key>btn_guard_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,208},{157,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,64}}</string>
                <key>sourceSize</key>
                <string>{157,64}</string>
            </dict>
            <key>btn_inteam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,141},{124,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,45}}</string>
                <key>sourceSize</key>
                <string>{124,45}</string>
            </dict>
            <key>btn_lv_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,398},{159,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,51}}</string>
                <key>sourceSize</key>
                <string>{159,51}</string>
            </dict>
            <key>btn_over_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,235},{159,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,54}}</string>
                <key>sourceSize</key>
                <string>{159,54}</string>
            </dict>
            <key>btn_team_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,141},{180,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,65}}</string>
                <key>sourceSize</key>
                <string>{180,65}</string>
            </dict>
            <key>btn_zhuansheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,431},{159,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,54}}</string>
                <key>sourceSize</key>
                <string>{159,54}</string>
            </dict>
            <key>dashline_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,134},{642,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,5}}</string>
                <key>sourceSize</key>
                <string>{642,5}</string>
            </dict>
            <key>gradation_bg_fade_in_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,502}}</string>
                <key>sourceSize</key>
                <string>{642,502}</string>
            </dict>
            <key>guard_slot_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,291},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icn_guard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,406},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>icn_inteam.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,291},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>slot_team_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,141},{102,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,278}}</string>
                <key>sourceSize</key>
                <string>{102,278}</string>
            </dict>
            <key>slot_team_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,141},{102,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,277}}</string>
                <key>sourceSize</key>
                <string>{102,277}</string>
            </dict>
            <key>slot_team_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,141},{112,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,288}}</string>
                <key>sourceSize</key>
                <string>{112,288}</string>
            </dict>
            <key>square_pattern_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{642,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,130}}</string>
                <key>sourceSize</key>
                <string>{642,130}</string>
            </dict>
            <key>star_team_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,373},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>star_team_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,373},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>white_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,487},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,6}}</string>
                <key>sourceSize</key>
                <string>{4,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duiwu.pvr.ccz</string>
            <key>size</key>
            <string>{1290,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04d2e3662ef7e88981b0141b1f2d689$</string>
            <key>textureFileName</key>
            <string>duiwu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
