<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BeiFanZhen_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,334},{29,21}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{29,21}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>BeiFanZhen_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,235},{69,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,53}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>BeiFanZhen_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,369},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>BeiFanZhen_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,235},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>BeiFanZhen_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,150},{69,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>BeiXiXie_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,294},{42,38}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{42,38}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>BeiXiXie_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,428},{64,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{64,44}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>BeiXiXie_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,428},{64,48}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{64,48}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>BeiXiXie_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,393},{66,72}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>BeiXiXie_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{66,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>BeiXiXie_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,209},{68,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,21}}</string>
                <key>sourceSize</key>
                <string>{68,21}</string>
            </dict>
            <key>FuHuo_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{43,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,146}}</string>
                <key>sourceSize</key>
                <string>{43,146}</string>
            </dict>
            <key>FuHuo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{122,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,88}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>FuHuo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,94}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>FuHuo_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{72,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{72,123}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>FuHuo_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,290},{82,101}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{82,101}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>FuHuo_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,146},{92,87}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{92,87}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>FuHuo_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,294},{74,73}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{74,73}}</string>
                <key>sourceSize</key>
                <string>{96,123}</string>
            </dict>
            <key>FuHuo_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,467},{52,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{52,36}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>FuHuo_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,86},{106,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{106,58}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>FuHuo_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{114,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,82}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>Guang_00_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>E2.pvr.ccz</string>
            <key>size</key>
            <string>{291,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d806e045bb0956d105e326d47e7559ab:1/1$</string>
            <key>textureFileName</key>
            <string>E2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
