<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_golden_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{636,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,176}}</string>
                <key>sourceSize</key>
                <string>{636,176}</string>
            </dict>
            <key>bg_golden_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{636,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,176}}</string>
                <key>sourceSize</key>
                <string>{636,176}</string>
            </dict>
            <key>bg_golden_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,176}}</string>
                <key>sourceSize</key>
                <string>{636,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>golden.pvr.ccz</string>
            <key>size</key>
            <string>{1916,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91fee73507cd18babc4a2e73b66d0254$</string>
            <key>textureFileName</key>
            <string>golden.pvr.ccz</string>
        </dict>
    </dict>
</plist>
