<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_du_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,112},{71,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{71,94}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,138},{95,98}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{95,98}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,118},{109,120}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{109,120}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{105,100}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{105,100}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{101,108}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{101,108}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,118},{107,120}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{107,120}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,134}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
            <key>Tx_Jn_111_du_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{79,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{79,78}}</string>
                <key>sourceSize</key>
                <string>{161,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>L10.pvr.ccz</string>
            <key>size</key>
            <string>{510,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79d05945be52612f67aa4ebeaf30b0a1:1/1$</string>
            <key>textureFileName</key>
            <string>L10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
