<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_111_ShiTou_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,397},{66,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{68,92}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{140,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,126}}</string>
                <key>sourceSize</key>
                <string>{140,126}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,273},{128,134}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,193},{134,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,108}}</string>
                <key>sourceSize</key>
                <string>{136,108}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,403},{132,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,118}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{146,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{146,128}}</string>
                <key>sourceSize</key>
                <string>{146,130}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,303},{146,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,92}}</string>
                <key>sourceSize</key>
                <string>{146,92}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,397},{122,120}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,120}}</string>
                <key>sourceSize</key>
                <string>{124,120}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{194,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,190}}</string>
                <key>sourceSize</key>
                <string>{194,190}</string>
            </dict>
            <key>Tx_Jn_111_ShiTou_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,270}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{278,270}}</string>
                <key>sourceSize</key>
                <string>{278,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>L6.pvr.ccz</string>
            <key>size</key>
            <string>{476,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3883f2aac6231c246573f67eb9bfae70:5c95571be837df7e3c7f241dccbbeaf0:e26941c519e32c496c6ef3913008d253$</string>
            <key>textureFileName</key>
            <string>L6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
