<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icn_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,216},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>ico_money_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,153},{85,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,61}}</string>
                <key>sourceSize</key>
                <string>{85,61}</string>
            </dict>
            <key>mon_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,914}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,90},{620,914}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
            <key>mon_bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{508,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,149}}</string>
                <key>sourceSize</key>
                <string>{508,149}</string>
            </dict>
            <key>mon_btn_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,153},{172,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,67}}</string>
                <key>sourceSize</key>
                <string>{172,67}</string>
            </dict>
            <key>mon_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,153},{172,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,67}}</string>
                <key>sourceSize</key>
                <string>{172,67}</string>
            </dict>
            <key>mon_text_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,222},{80,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,32}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>mon_text_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,153},{62,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,29}}</string>
                <key>sourceSize</key>
                <string>{62,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mon.pvr.ccz</string>
            <key>size</key>
            <string>{1134,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88c276b70cedfa54ce000646cd90e2e$</string>
            <key>textureFileName</key>
            <string>mon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
