<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_rank_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,79},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>btn_rank_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,203},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>btn_rank_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,142},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>home_btn_bg_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,75}}</string>
                <key>sourceSize</key>
                <string>{217,75}</string>
            </dict>
            <key>title_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{139,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,126}}</string>
                <key>sourceSize</key>
                <string>{139,126}</string>
            </dict>
            <key>txt_rank_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,230},{69,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,21}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>txt_rank_story.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{69,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,21}}</string>
                <key>sourceSize</key>
                <string>{69,21}</string>
            </dict>
            <key>txt_rank_zhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{84,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,21}}</string>
                <key>sourceSize</key>
                <string>{84,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>paihangbang.pvr.ccz</string>
            <key>size</key>
            <string>{221,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:738aafc56c15f68f1772476287b833e6$</string>
            <key>textureFileName</key>
            <string>paihangbang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
