<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_reset_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,167},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>btn_reset_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,167},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>road_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,163}}</string>
                <key>sourceSize</key>
                <string>{165,163}</string>
            </dict>
            <key>road_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,120},{139,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,116}}</string>
                <key>sourceSize</key>
                <string>{139,116}</string>
            </dict>
            <key>road_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{139,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,116}}</string>
                <key>sourceSize</key>
                <string>{139,116}</string>
            </dict>
            <key>road_lock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>road_name_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,219},{147,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{147,26}}</string>
                <key>sourceSize</key>
                <string>{151,28}</string>
            </dict>
            <key>road_unknow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>road.pvr.ccz</string>
            <key>size</key>
            <string>{417,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915a5280807ebab7fde405f4e7a3aa61$</string>
            <key>textureFileName</key>
            <string>road.pvr.ccz</string>
        </dict>
    </dict>
</plist>
