<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_boss_huojiandui.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,1140}}</string>
                <key>sourceSize</key>
                <string>{642,1140}</string>
            </dict>
            <key>btn_guwu_huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{126,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,127}}</string>
                <key>sourceSize</key>
                <string>{126,127}</string>
            </dict>
            <key>btn_tiaozhanboss_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1144},{208,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,112}}</string>
                <key>sourceSize</key>
                <string>{208,112}</string>
            </dict>
            <key>font_huojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1144},{151,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,101}}</string>
                <key>sourceSize</key>
                <string>{151,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocketteam.pvr.ccz</string>
            <key>size</key>
            <string>{646,1273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77d89974e4617919e2b44d9a1d01ea2$</string>
            <key>textureFileName</key>
            <string>rocketteam.pvr.ccz</string>
        </dict>
    </dict>
</plist>
