<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,256},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>btn_gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,374},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>btn_gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,374},{96,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,107}}</string>
                <key>sourceSize</key>
                <string>{96,107}</string>
            </dict>
            <key>btn_gift_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,256},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,85}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
            <key>btn_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,374},{95,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,103}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>dash_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{599,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,13}}</string>
                <key>sourceSize</key>
                <string>{599,13}</string>
            </dict>
            <key>icon_challenging.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,256},{120,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,53}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>icon_gem_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>icon_gold_slot.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,374},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>icon_received.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,438},{120,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,53}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>img_chengjiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{535,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,115}}</string>
                <key>sourceSize</key>
                <string>{535,115}</string>
            </dict>
            <key>img_gift_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,17},{540,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,120}}</string>
                <key>sourceSize</key>
                <string>{540,120}</string>
            </dict>
            <key>img_gift_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,130}}</string>
                <key>sourceSize</key>
                <string>{537,130}</string>
            </dict>
            <key>img_gift_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,139},{538,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,115}}</string>
                <key>sourceSize</key>
                <string>{538,115}</string>
            </dict>
            <key>img_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,251},{531,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,121}}</string>
                <key>sourceSize</key>
                <string>{531,121}</string>
            </dict>
            <key>name_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,311},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
            <key>name_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,343},{92,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,28}}</string>
                <key>sourceSize</key>
                <string>{92,28}</string>
            </dict>
            <key>name_room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,328},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
            <key>name_room_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,343},{137,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,27}}</string>
                <key>sourceSize</key>
                <string>{137,27}</string>
            </dict>
            <key>name_room_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,328},{93,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,27}}</string>
                <key>sourceSize</key>
                <string>{93,27}</string>
            </dict>
            <key>popup_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,374},{620,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,62}}</string>
                <key>sourceSize</key>
                <string>{620,62}</string>
            </dict>
            <key>text_bubble_rev.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,438},{416,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,66}}</string>
                <key>sourceSize</key>
                <string>{416,66}</string>
            </dict>
            <key>txt_my-room.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,256},{294,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,70}}</string>
                <key>sourceSize</key>
                <string>{294,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.pvr.ccz</string>
            <key>size</key>
            <string>{1156,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e776da04c5c6b07133485c1ff354df67$</string>
            <key>textureFileName</key>
            <string>room.pvr.ccz</string>
        </dict>
    </dict>
</plist>
