<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_feng_1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,163},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,163},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1},{73,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,82}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,77},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,149},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,90},{71,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{81,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{83,76}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1},{87,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,68}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{99,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,74}}</string>
                <key>sourceSize</key>
                <string>{99,76}</string>
            </dict>
            <key>Tx_Jn_000_feng_1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>S5.pvr.ccz</string>
            <key>size</key>
            <string>{255,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80505a7fa9dce90376ec4ff7ec6f3b2d:5069a8ae7238686072ef067eb03781e3:dd6924c241b63b9420af91128293b597$</string>
            <key>textureFileName</key>
            <string>S5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
