<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tx_Jn_000_dian_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,184},{64,184}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{64,184}}</string>
                <key>sourceSize</key>
                <string>{158,184}</string>
            </dict>
            <key>Tx_Jn_000_dian_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{124,172}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,172}}</string>
                <key>sourceSize</key>
                <string>{158,184}</string>
            </dict>
            <key>Tx_Jn_000_dian_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{142,180}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,180}}</string>
                <key>sourceSize</key>
                <string>{158,184}</string>
            </dict>
            <key>Tx_Jn_000_dian_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,170}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,170}}</string>
                <key>sourceSize</key>
                <string>{158,184}</string>
            </dict>
            <key>Tx_Jn_000_dian_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,302},{126,164}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{126,164}}</string>
                <key>sourceSize</key>
                <string>{158,184}</string>
            </dict>
            <key>Tx_Jn_000_dian_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{130,126}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{130,126}}</string>
                <key>sourceSize</key>
                <string>{158,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S9.pvr.ccz</string>
            <key>size</key>
            <string>{322,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a54190513171fcc35d5ad6725d3c53f0:1/1$</string>
            <key>textureFileName</key>
            <string>S9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
