<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_talk_skip_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>fade_black_talk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,451}}</string>
                <key>sourceSize</key>
                <string>{642,451}</string>
            </dict>
            <key>font_dianji_yindao.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1660},{100,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,30}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>pic_aerzhousi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,650},{389,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,593}}</string>
                <key>sourceSize</key>
                <string>{389,593}</string>
            </dict>
            <key>pic_chaomeng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1225},{322,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,593}}</string>
                <key>sourceSize</key>
                <string>{322,593}</string>
            </dict>
            <key>pic_dagangshe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{377,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,593}}</string>
                <key>sourceSize</key>
                <string>{377,593}</string>
            </dict>
            <key>pic_fem1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1245},{219,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,608}}</string>
                <key>sourceSize</key>
                <string>{219,608}</string>
            </dict>
            <key>pic_mal1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1065},{226,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,608}}</string>
                <key>sourceSize</key>
                <string>{226,608}</string>
            </dict>
            <key>pic_miao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{198,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,190}}</string>
                <key>sourceSize</key>
                <string>{198,190}</string>
            </dict>
            <key>pic_pikaqiu_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1675},{151,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,187}}</string>
                <key>sourceSize</key>
                <string>{151,187}</string>
            </dict>
            <key>pic_pikaqiu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1675},{151,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,187}}</string>
                <key>sourceSize</key>
                <string>{151,187}</string>
            </dict>
            <key>pic_qingtinglong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,652},{388,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,571}}</string>
                <key>sourceSize</key>
                <string>{388,571}</string>
            </dict>
            <key>pic_shenmiren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,455},{226,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,608}}</string>
                <key>sourceSize</key>
                <string>{226,608}</string>
            </dict>
            <key>pic_wuzang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{359,646}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,646}}</string>
                <key>sourceSize</key>
                <string>{359,646}</string>
            </dict>
            <key>pic_wuzang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,2},{359,646}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,646}}</string>
                <key>sourceSize</key>
                <string>{359,646}</string>
            </dict>
            <key>pic_xiaocilang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{372,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,648}}</string>
                <key>sourceSize</key>
                <string>{372,648}</string>
            </dict>
            <key>pic_xiaocilang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{372,648}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,648}}</string>
                <key>sourceSize</key>
                <string>{372,648}</string>
            </dict>
            <key>pic_xiaoxia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1245},{273,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,595}}</string>
                <key>sourceSize</key>
                <string>{273,595}</string>
            </dict>
            <key>pic_xiaozhi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{331,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,608}}</string>
                <key>sourceSize</key>
                <string>{331,608}</string>
            </dict>
            <key>pic_xiaozhi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{331,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,608}}</string>
                <key>sourceSize</key>
                <string>{331,608}</string>
            </dict>
            <key>txt_talk_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1881},{73,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,19}}</string>
                <key>sourceSize</key>
                <string>{73,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>story.pvr.ccz</string>
            <key>size</key>
            <string>{1411,1911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3196492cc18b16a1e6b790c65447c2d4$</string>
            <key>textureFileName</key>
            <string>story.pvr.ccz</string>
        </dict>
    </dict>
</plist>
