<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clxh_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,367},{228,215}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{228,215}}</string>
                <key>sourceSize</key>
                <string>{230,217}</string>
            </dict>
            <key>clxh_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,584},{224,207}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{224,207}}</string>
                <key>sourceSize</key>
                <string>{226,209}</string>
            </dict>
            <key>clxh_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,481},{212,197}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{212,197}}</string>
                <key>sourceSize</key>
                <string>{214,199}</string>
            </dict>
            <key>clxh_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,680},{198,177}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,177}}</string>
                <key>sourceSize</key>
                <string>{200,179}</string>
            </dict>
            <key>clxh_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,906},{144,113}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{144,113}}</string>
                <key>sourceSize</key>
                <string>{146,115}</string>
            </dict>
            <key>clxh_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,619},{78,65}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{78,65}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>clxh_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,619},{68,59}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,59}}</string>
                <key>sourceSize</key>
                <string>{70,61}</string>
            </dict>
            <key>jlzs_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,222},{45,15}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,15}}</string>
                <key>sourceSize</key>
                <string>{47,17}</string>
            </dict>
            <key>jlzs_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,645},{75,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{75,33}}</string>
                <key>sourceSize</key>
                <string>{77,35}</string>
            </dict>
            <key>jlzs_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,974},{87,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,45}}</string>
                <key>sourceSize</key>
                <string>{89,47}</string>
            </dict>
            <key>jlzs_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,594},{87,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,49}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>jlzs_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,541},{87,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,51}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>jlzs_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,974},{85,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,45}}</string>
                <key>sourceSize</key>
                <string>{87,47}</string>
            </dict>
            <key>jlzs_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,967},{85,37}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{85,37}}</string>
                <key>sourceSize</key>
                <string>{87,39}</string>
            </dict>
            <key>jlzs_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,866},{73,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{73,23}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>jlzs_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,392},{87,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{87,83}}</string>
                <key>sourceSize</key>
                <string>{89,85}</string>
            </dict>
            <key>jlzs_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,905},{97,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,109}}</string>
                <key>sourceSize</key>
                <string>{99,111}</string>
            </dict>
            <key>jlzs_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,472},{135,145}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{135,145}}</string>
                <key>sourceSize</key>
                <string>{137,147}</string>
            </dict>
            <key>jlzs_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,392},{159,147}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,147}}</string>
                <key>sourceSize</key>
                <string>{161,149}</string>
            </dict>
            <key>jlzs_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,222},{191,143}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{191,143}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>jlzs_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,903},{101,117}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{101,117}}</string>
                <key>sourceSize</key>
                <string>{103,119}</string>
            </dict>
            <key>jlzs_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{99,115}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,115}}</string>
                <key>sourceSize</key>
                <string>{101,117}</string>
            </dict>
            <key>jlzs_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,891},{99,119}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,119}}</string>
                <key>sourceSize</key>
                <string>{101,121}</string>
            </dict>
            <key>jlzs_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,891},{99,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,107}}</string>
                <key>sourceSize</key>
                <string>{101,109}</string>
            </dict>
            <key>jlzs_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,689},{97,97}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>jlzs_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,967},{97,35}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,35}}</string>
                <key>sourceSize</key>
                <string>{99,37}</string>
            </dict>
            <key>qhcg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,172},{364,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{364,83}}</string>
                <key>sourceSize</key>
                <string>{366,87}</string>
            </dict>
            <key>qhcg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,87},{370,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{370,83}}</string>
                <key>sourceSize</key>
                <string>{372,87}</string>
            </dict>
            <key>qhcg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,87},{370,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{370,83}}</string>
                <key>sourceSize</key>
                <string>{372,87}</string>
            </dict>
            <key>qhcg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{372,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{372,83}}</string>
                <key>sourceSize</key>
                <string>{374,87}</string>
            </dict>
            <key>qhcg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,2},{370,83}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{370,83}}</string>
                <key>sourceSize</key>
                <string>{372,87}</string>
            </dict>
            <key>qxg_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,859},{106,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>qxg_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,859},{106,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>qxg_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,903},{108,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qxg_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,793},{108,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qxg_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,793},{110,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qxg_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,369},{110,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qxg_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,257},{110,110}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,110}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>qxg_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,793},{108,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qxg_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,905},{108,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{108,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>qxg_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,866},{106,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>sjjt_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,239},{18,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,24}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>xw_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,242}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{229,242}}</string>
                <key>sourceSize</key>
                <string>{233,246}</string>
            </dict>
            <key>xw_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,689},{201,200}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{201,200}}</string>
                <key>sourceSize</key>
                <string>{207,204}</string>
            </dict>
            <key>xw_0_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,298},{147,172}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{147,172}}</string>
                <key>sourceSize</key>
                <string>{151,176}</string>
            </dict>
            <key>xw_0_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,686},{77,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{77,78}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>xwg_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,172},{238,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,218}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>xwg_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{238,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,218}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>xwg_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{238,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,218}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>xwg_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{238,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,218}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>xwg_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{238,218}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{238,218}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>xwg_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,257},{236,218}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{236,218}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>xwg_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,477},{226,210}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{226,210}}</string>
                <key>sourceSize</key>
                <string>{230,214}</string>
            </dict>
            <key>xwg_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,680},{172,184}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{172,184}}</string>
                <key>sourceSize</key>
                <string>{178,190}</string>
            </dict>
            <key>xwg_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,172},{152,124}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{152,124}}</string>
                <key>sourceSize</key>
                <string>{160,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>strengthen.pvr.ccz</string>
            <key>size</key>
            <string>{1235,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e183465421eb196c8571298da17b7e20$</string>
            <key>textureFileName</key>
            <string>strengthen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
