<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>devide_dashline.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,150},{9,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{9,5}</string>
            </dict>
            <key>dy_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{118,124}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{118,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>library_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,402}}</string>
                <key>sourceSize</key>
                <string>{642,402}</string>
            </dict>
            <key>tab_line_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{642,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,22}}</string>
                <key>sourceSize</key>
                <string>{642,22}</string>
            </dict>
            <key>txt_collection.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,128},{114,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,20}}</string>
                <key>sourceSize</key>
                <string>{114,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tujian.pvr.ccz</string>
            <key>size</key>
            <string>{766,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:721618aabd6206c2e41c8cbcd3b30f55$</string>
            <key>textureFileName</key>
            <string>tujian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
