<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_putong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,306},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,610},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,306},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,610},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,306},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,610},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>eff_putong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_eff2.pvr.ccz</string>
            <key>size</key>
            <string>{1522,914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f6fec8d88ed0dbf6d900862a6636ffc$</string>
            <key>textureFileName</key>
            <string>ui_eff2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
